$service-colors:('web' $nm-web, 'it' $nm-it, 'tc' $nm-tc, 'bs' $nm-bs, 'mk' $nm-marketing, 'cs' $nm-security, 'dt' $nm-training);
/*Creates a block of code that colours the backgtound*/
@each $name, $color in $service-colors{
    
    .nav-#{$name}:hover{
        background-color:$color;
        //When nav-# is created it makes a new class 
        //and applies a background colour to it
    }
    
    //Read me icons
    .card-nav-#{$name}{
        //Default
        background-color: $nm-primary;
        .rm-#{$name}{
            background-color: $color;
            color:$nm-primary;
        }
        //hover-state
        &:hover{
            background-color:$color;
            color:$nm-primary;

            .rm-#{$name}{
                //padding-top: 100px;
                background-color: $nm-primary;
                color:$color; 
            }
         }
    }
}