.card-nav{
    @include display;
    justify-content: center;
    flex-wrap: wrap;
    
        .card{
            //UPDATE SHAPE /  SIZE AND INFO
            border: 1px $nm-secondary solid;
            height:400px;
            width:300px;

            margin: 50px 30px 30px;
            padding: 25px 20px 15px;

            font-size: 1em;
            text-align: center;
            cursor: pointer;
            //position: static;

            &a{
                text-decoration: none;
            }
            p{
                padding-top:15px;
                margin-bottom:25px;
            }

            label{
                //position: static;
                border: 2px red solid;
                padding: 10px;
                // margin-top: 10px;
            }
        }

        .service{  //sorts out colour
            background-color: $nm-primary;
            color: $nm-secondary;
            &:hover{
               background-color:$nm-secondary;
               color:$nm-primary;
              
            }
        }

        
    
}