.card-nav{
    @include display;
    justify-content: center;
    flex-wrap: wrap;
        .card{
            //UPDATE SHAPE /  SIZE AND INFO
            border: 1px lighten($nm-tertiary,40%) solid;
            border-radius: 1%;
            height:400px;
            width:300px;

            margin: 50px 30px 30px;
            padding: 25px 20px 15px;

            font-size: 1em;
            text-align: center;
            cursor: pointer;

            &a{
                text-decoration: none;
            }
            p{
                padding-top:15px;
                margin-bottom:100px;
            }

            span{
                border-radius: 5%;
                padding: 10px;
                text-transform: uppercase;
            }

            .c-title{
                text-transform: capitalize;
                padding-bottom:50px;
                position:relative;

                &::before{
                    content: '';
                    display:block;
                    position: absolute;
                    width: 50px;
                    border:$nm-secondary solid 1px;
                    top: 25px;
                    left:100px;
                }
            }

            // &:hover{
            //     //When hovering over 'card' 
            //     .ctitle::after{
            //         content: '';
            //         display:block;
            //         position: absolute;
            //         width: 50px;
            //         border:$nm-primary solid 1px;
            //         top: 25px;
            //         left:100px;
            //     }
            //}

            

            //selects c-title... need to select .card
            // &:hover::after{
            //     content: '';
            //     display:block;
            //     position: absolute;
            //     width: 50px;
            //     border:$nm-primary solid 1px;
            //     top: 25px;
            //     left:100px;
            //}
            

        }

      
}