//Colour pallet

$nm-primary: #fff;
$nm-secondary: #333645; 
$nm-tertiary: #666666;
$nm-web: #926fb1; //Web design Button
$nm-it: #286ABD; //IT support
$nm-tc: #BC2C28; // Telecoms
$nm-bs: #526781; //Bespoke software
$nm-marketing: #25A25A; //marketing
$nm-security: #DE093F; //security
$nm-training: darken($nm-web,10%);



//Social Media
$facebook-hover: #3b5998;
$twitter-hover: #00ACEE;
$linkedin-hover: #0077B5;

.footer-web-design,
.footer-icons,
.card-nav,
.carousel,
.break,
.news{
    background-color:darken($nm-primary, 5%);
}
