footer {

    .buisness-info{
        @include display;
        @include text-display;
        flex-wrap:wrap;
        padding: 50px 150px 50px;
        background-color: $nm-secondary;
        color: $nm-primary;
        
            li{
                list-style:none;
            }
            
            address{
                font-style: normal;
            }
            .f-title{
                text-transform:uppercase;
                padding-bottom: 1em;
            }
            a{
                color:$nm-primary;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
        }

        .footer-icons,
        .footer-web-design{
            @include display;
            flex-wrap: wrap;
            margin: 15px 200px 15px 200px;
            
        }
        .footer-web-design{
            margin-bottom:50px;
        }

        .footer-icons{
            margin-top:50px;
            margin-bottom:50px;
        }
}

.social{
    @include display;
    //color:$nm-secondary;
    // width:10%;
    label {
        width: 20;
        height: 5px;
        background-color:darken ($nm-secondary,20%);
        border: 1px red solid;
        padding:20px 50px;
        margin-bottom: 20px;
        cursor: pointer;
        

        // img{
        //     //height: 5%;
        //     //width: 5%;

        // }

        .s-icon-1:hover{
            background-color: $facebook-hover;
        }
        .s-icon-2:hover{
            background-color: $twitter-hover;
        }
        .s-icon-3:hover{
            background-color: $linkedin-hover;
        }
    }
}
// when small, remove footer images