footer {

    .buisness-info{
        @include display;
        @include text-display;

        flex-wrap:wrap;
        
        //padding: 50px 150px 50px;
        background-color: $nm-secondary;
        color: $nm-primary;
        
            li{
                list-style:none;
            }
            
            address{
                font-style: normal;
            }
            .f-title{
                text-transform:uppercase;
                padding-bottom: 1em;
            }
            a{
                color:$nm-primary;
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }

.footer-icons,
.footer-web-design{
    @include display;
}
.f-img{
    // background-image: url("../img/web_design/Busseys_hover.png");
    filter: grayscale(100%);
    &:hover{
        filter:grayscale(0%);
    }
    
}


//Not flexing correctly
.social-media{
    width: 15%;
    .social-buttons{ //parent container
        display:flex;
        justify-content: flex-start;
        flex-wrap:wrap;
        
        a{
            
            margin-right:5px;
            margin-top:10px;
            
        }
    }

}
