.news{
    @include display;
    margin-bottom: 5em;

    a{
        color:$nm-web;

    }
    img{
        width:100%;
    }

    .news-card{
        margin-left: 3%;
        width: 35%;
        border: $nm-tertiary 1px solid;
    }
    .news-card:last-child{
        margin-right: 3%;
    }
}