.news{
    display:flex;
    flex-wrap: wrap;
    width: 100%;

    .news-card{
        border: 1px red solid;
        width:370px; // width of a news card
        height: 370px;

        img{
            border: 1px black solid;
            width:100%; // take up entire width of your news card
        }
        .info{
            padding:25px;

        }
    }
}