.nm-announce{
    position:relative;
    overflow: hidden;
}

.news-container{
    & img{
        max-width:100%;
    }
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom:35px;

    .news-card{
        border: 1px red solid;
        .latest-img{
            &:hover{
                //position:relative;
                transform: scale(1.1);
                color:$nm-primary;
            }
        }
            
        }
        .info{
            padding:25px;
        }
        .u-img{
            border: none;
            border-radius: 50%;
            height:15%;
            width:15%;
        }
        .user{
            display:flex;
            //flex-wrap: wrap;
            
        }
       
    }
//}
@media(max-width:$break-sm){
    .news-card{
        width:100%;
        height:auto;

        margin:30px 25px 0 25px;
        // margin-top: 200px;
   } 
}

@media(min-width:$break-m){
    .news-card{
        width:45%;
        height:auto;
        //height:500px;
        &:first-child{
            margin-left:3%;
            margin-right:5%;
        }
        &:last-child{
            display: none;
        }
    }
    .news{
        height:500px;
    }
}

@media(min-width:$break-lg){
    .news-card{
        width: 28%;
            height: 400px;
            margin-right:5%;

            &:first-child{
                margin-left:3%;
            }
            &:last-child{
                margin-right: 0.1%;
                display: initial;
            }
    }
}