.card-nav{
    //top, right bottom left
    // margin-right: 5%;
    // margin-left:5%;
    // display:flex;
    //justify-content: center;
       
    .row-1{  //Parent of row 1
        display:flex;
        //justify-content: space-between;
        //@include display;
        //justify-content: center;
        //margin-bottom: 40px;
        .card{
            flex-wrap: wrap;
            //UPDATE SHAPE /  SIZE AND INFO
            @include card-display;
            }
        }

    .row-2{ //parent of row 2
        display:flex;
        //justify-content: space-between;
        //@include display;
        //justify-content: center;

        
        .card{
            @include card-display;
            
            //flex-wrap: wrap;
        }
    }
} 

    @media(max-width:$break-sm){
        .row-1, .row-2{
            // justify-content:center;
            // flex-wrap:wrap;
            // padding:none;
            // margin: none;
            .card{
                height:300px;
                width:100%;
            }
            // height and width =  same
        }
        .row-1{
            //margin-bottom:10px;
        }
        .row-2{
            //padding-top:10px;
        }
    }


    @media(min-width:$break-m){
        //top row has its 3
        .row-1{
            .card{
                width:30%;
                height:300px;
            }
        }
        

        //row 2 breaks into 2 rows of 2
        .row-2{
            flex-wrap: wrap;
            .card{
                //margin: 10px;
                width: 45%;
                height:300px;
            }
        }
    }


//This code all currently works and is fulyl

    @media(min-width:$break-lg){
        // .card-nav{
        //     //top right bottom left
        //     padding:5% 5%;
        // }
        .row-1 .card{
            width: 28%;// 27* 3 = 81  = 19% remaining
            height: 300px;
            
            //margin:auto;
            margin-right:5%; //*2= 4%

            &:first-child{
                margin-left:3%;
            }
            &:last-child{
                margin-right:3%;
            }
        }
        .row-2 .card{
            flex-wrap:nowrap;
            width:20%; //20* 4 = 80%  = 20% remaining
            height:300px;

            margin-right:4.7%; //6%
            &:last-child{
                margin-right: 0%;
            }
            &:first-child{
                margin-left: 3%;
            }
            margin-top:3%;
        }
    }
        

