* { margin:0; padding:0; box-sizing:border-box; } //resets html

@import 'colours',
'variables',
'fonts', 
'debug', 
'mixins', 
'footer', 
'news', 
'about-us', 
'card-nav',
'nav',
'card-colouring',
'imgs',
'dropdowns';

body{
    user-select: none;
}

.break{
    text-transform: uppercase;
    border-bottom: $nm-secondary;
    padding-right:95%;
}
