* { margin:0; padding:0; box-sizing:border-box; } //resets html

@import

// Structure, Keep at the top //
'../scss/structure/colours',
'../scss/structure/fonts',
'../scss/structure/media-queries',
'../scss/structure/mixins',
'../scss/structure/social-media',
// Other //
'../scss/Other/about-us',
'../scss/Other/newsletter',
'../scss/Other/tooltips',
'../scss/Other/footer', 


// Cards //
'../scss/Cards/dynamic-colouring',
'../scss/Cards/services-card',
'../scss/Cards/news', 

//Header
'../scss/Header/dropdowns',
'../scss/Header/site-navigation',
'../scss/Header/carousel';

/* Stops items from being selected / copied*/
body{
    user-select: none;
}
.break{
    text-transform: uppercase;
    letter-spacing: 2px;
    height:100px;
    padding-top:25px;
    // padding-left:10%;
    font-size: 20px;
    margin-left:10%;
    // margin-bottom:3%;


    position: absolute;
    &::before{
        content: '';
        display:block;
        position: absolute;
        width: 100%;
        border:$nm-secondary solid 2px;
        top: 100%;
    }
}