* { margin:0; padding:0; box-sizing:border-box; } //resets html

@import 'colours',
'variables',
'fonts', 
'debug', 
'mixins', 
'footer', 
'news', 
'about-us', 
'services-card',
'nav',
'card-colouring',
'imgs', // Currently unused
'dropdowns',
'media-queries';

/* Stops items from being selected / copied*/
body{
    user-select: none;
}


.break{
    text-transform: uppercase;
    border-bottom: $nm-secondary;
    padding-right:85%;
}
