@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newsletter,
.card-nav,
.carousel,
.news {
  background-color: #f2f2f2;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 800;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
  letter-spacing: 1px;
}

.social-fb {
  background: #282b36 url("../img/Icons/social-media-icons/facebook-svgrepo-com_white.svg") no-repeat center;
  background-size: 25%;
  padding: 20px 50px;
}

.social-fb:hover {
  background-color: #3b5998;
}

.social-tw {
  background: #282b36 url("../img/Icons/social-media-icons/twitter-svgrepo-com_white.svg") no-repeat center;
  background-size: 25%;
  padding: 20px 50px;
}

.social-tw:hover {
  background-color: #00ACEE;
}

.social-li {
  background: #282b36 url("../img/Icons/social-media-icons/linkedin-svgrepo-com_white.svg") no-repeat center;
  background-size: 25%;
  padding: 20px 50px;
}

.social-li:hover {
  background-color: #0077B5;
}

.about-us {
  background-color: #333645;
  background-image: url(../img/Icons/branded.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 25px;
  color: #fff;
  font-size: 20px;
}

.about-us h1 {
  text-transform: uppercase;
  font-size: 2em;
  padding-bottom: 35px;
}

.about-us p {
  padding-bottom: 40px;
  line-height: 1.5;
}

.about-us p:first-of-type {
  font-weight: bold;
}

.about-us .culture {
  padding: 5px 5px;
  border-radius: 5%;
  background: #fff;
  color: #333645;
  cursor: pointer;
}

.about-us .culture:hover {
  background-color: #e6e6e6;
}

@media (min-width: 768px) {
  .content {
    padding: 25px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .content {
    padding-left: 50px;
    width: 75%;
  }
}

@media (min-width: 1260px) {
  .content {
    padding-left: 125px;
    width: 45%;
  }
}

.newsletter {
  padding-left: 10%;
  padding-bottom: 5%;
  height: auto;
}

.newsletter h2 {
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 3%;
}

.newsletter #check {
  position: relative;
  margin-right: 10px;
}

.newsletter .check {
  width: 85%;
  padding-top: 20px;
  font-size: 1.15em;
}

.newsletter .check a {
  color: #333645;
  text-decoration: underline;
}

.newsletter .check a:hover {
  color: #1d1f28;
}

#name, #email {
  border: none;
  -webkit-box-shadow: 3px 1px 30px #b3b3b3;
          box-shadow: 3px 1px 30px #b3b3b3;
  width: 550px;
  height: 45px;
}

.name, .name-sm, .email, .email-sm {
  font-size: 1.35em;
}

.name i, .name-sm i, .email i, .email-sm i {
  color: #d24d57;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 35px;
  width: 35px;
  border: 3px solid #333645;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: "\f00c";
  color: #fff;
  width: 15px;
  height: 15px;
}

input[type="checkbox"]:checked {
  background-color: #333645;
}

.sub {
  width: 125px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.35em;
  background-color: #333645;
  border-radius: 3px;
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
}

.sub:hover {
  background-color: #1d1f28;
}

@media (max-width: 768px) {
  .user-data-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #name, #email {
    width: 500px;
    padding: 5px;
    margin-bottom: 50px;
    margin-right: 25px;
  }
  .name, .email {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .user-data-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 75%;
  }
  #name, #email {
    width: 550px;
    padding: 5px;
    margin-bottom: 50px;
  }
  .name, .email {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  .user-data-input {
    width: 100%;
  }
  #name, #email {
    width: 450px;
    padding: 5px;
    margin-bottom: 50px;
    margin-right: 5%;
  }
  .name-sm, .email-sm {
    display: none;
  }
  .email {
    position: absolute;
    right: 37%;
  }
}

@media (min-width: 1260px) {
  .email-sm, .name-sm {
    display: none;
  }
  .email {
    position: absolute;
    right: 46%;
  }
  #name, #email {
    padding: 10px;
  }
  #name {
    margin-right: 3%;
    margin-bottom: 25px;
  }
}

.tt {
  position: absolute;
  top: 2%;
  right: 5%;
  padding: 4px 3px;
}

.tt a, .tt a:visited {
  color: #fff;
  text-transform: uppercase;
}

.tt a:hover, .tt a:visited:hover {
  color: #fff;
}

.tt::before {
  content: attr(data-text);
  position: absolute;
  -webkit-transform: translateY(-128%);
          transform: translateY(-128%);
  width: 200px;
  height: 65px;
  padding: 10px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  display: none;
}

.tt:hover::after {
  overflow-y: visible;
  content: " ";
  position: absolute;
  top: -52%;
  left: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.tool::before {
  content: attr(data-text);
  position: absolute;
  -webkit-transform: translateY(-154%);
          transform: translateY(-154%);
  width: 250px;
  height: 120px;
  padding: 20px;
  background-color: #333645;
  color: #fff;
  text-align: center;
  display: none;
}

.tool:hover::after {
  content: " ";
  position: absolute;
  top: -100%;
  left: 35%;
  margin-left: -10px;
  border-width: 35px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.tt:hover::before, .tool:hover::before {
  display: block;
}

.buisness-info {
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #333645;
  color: #fff;
}

.buisness-info li {
  list-style: none;
}

.buisness-info address {
  font-style: normal;
}

.buisness-info .f-title {
  text-transform: uppercase;
  padding-bottom: 1em;
}

.buisness-info a {
  color: #fff;
  text-decoration: none;
}

.buisness-info a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-icons, .footer-web-design,
.top-imgs, .bottom-imgs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.f-img {
  height: 65px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.f-img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.bottom-imgs .f-img:first-of-type {
  -webkit-filter: none;
          filter: none;
  width: 200px;
  height: 75px;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .footer-icons, .footer-web-design,
  .top-imgs, .bottom-imgs {
    display: none;
  }
  .buisness-info {
    padding: 15px;
  }
  .social {
    margin: 10px;
    width: 200px;
    height: 65px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-icons, .footer-web-design,
  .top-imgs, .bottom-imgs {
    display: none;
  }
  .buisness-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .contact-info,
  .website {
    width: 45%;
  }
  .about, .social-media {
    width: 50%;
  }
  .social {
    margin-left: 5%;
    margin-bottom: 5%;
    height: 55px;
    width: 150px;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  .buisness-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .contact-info,
  .website {
    width: 45%;
  }
  .about, .social-media {
    width: 50%;
  }
  .social {
    margin-left: 5%;
    margin-bottom: 5%;
    height: 55px;
    width: 150px;
  }
  .top-imgs, .bottom-imgs {
    margin: 35px 20px;
  }
  .top-imgs .f-img {
    width: 100%;
    padding-right: 75px;
  }
  .top-imgs .f-img :last-of-type {
    margin-right: 0%;
  }
  .bottom-imgs .f-img {
    width: 100%;
    padding-right: 100px;
  }
  .bottom-imgs .f-img:last-of-type {
    padding-right: 0%;
  }
  .bottom-imgs .f-img:first-of-type {
    padding-left: 35px;
    margin-right: 100px;
  }
}

@media (min-width: 1260px) {
  .buisness-info {
    width: 100%;
    padding: 2% 5% 2% 10%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .contact-info, .website, .about {
    width: 20%;
    margin-right: 3%;
  }
  .social-media {
    width: 27%;
  }
  .social-media a {
    background-size: 25%;
    padding: 20px 50px;
    margin-right: 5px;
    margin-top: 10px;
  }
  .social {
    width: 125px;
    height: 55px;
  }
  .top-imgs, .bottom-imgs {
    margin-left: 10%;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .top-imgs .f-img :last-of-type {
    margin-right: 0%;
  }
  .top-imgs .f-img {
    width: 100%;
    padding-right: 100px;
  }
  .top-imgs .f-img :last-of-type {
    padding-right: 0%;
  }
  .bottom-imgs .f-img {
    width: 100%;
    padding-right: 150px;
  }
  .bottom-imgs .f-img:last-of-type {
    padding-right: 0%;
  }
  .bottom-imgs .f-img:first-of-type {
    padding-right: 50px;
  }
}

.nav-web i {
  color: #926fb1;
}

.nav-web:hover {
  background-color: #926fb1;
}

.nav-web:hover i {
  color: #fff;
}

.nav-web .dropdown-content {
  background-color: #855ea8;
  /*Test color*/
}

.card-nav-web {
  background-color: #fff;
}

.card-nav-web .rm-web {
  background-color: #926fb1;
  color: #fff;
}

.card-nav-web .card-icon {
  background-color: #926fb1;
  color: #fff;
}

.card-nav-web:hover {
  background-color: #926fb1;
  color: #fff;
}

.card-nav-web:hover .card-icon {
  background-color: #fff;
  color: #926fb1;
}

.card-nav-web:hover .rm-web {
  background-color: #fff;
  color: #926fb1;
}

.nav-it i {
  color: #286ABD;
}

.nav-it:hover {
  background-color: #286ABD;
}

.nav-it:hover i {
  color: #fff;
}

.nav-it .dropdown-content {
  background-color: #245ea8;
  /*Test color*/
}

.card-nav-it {
  background-color: #fff;
}

.card-nav-it .rm-it {
  background-color: #286ABD;
  color: #fff;
}

.card-nav-it .card-icon {
  background-color: #286ABD;
  color: #fff;
}

.card-nav-it:hover {
  background-color: #286ABD;
  color: #fff;
}

.card-nav-it:hover .card-icon {
  background-color: #fff;
  color: #286ABD;
}

.card-nav-it:hover .rm-it {
  background-color: #fff;
  color: #286ABD;
}

.nav-tc i {
  color: #BC2C28;
}

.nav-tc:hover {
  background-color: #BC2C28;
}

.nav-tc:hover i {
  color: #fff;
}

.nav-tc .dropdown-content {
  background-color: #a72724;
  /*Test color*/
}

.card-nav-tc {
  background-color: #fff;
}

.card-nav-tc .rm-tc {
  background-color: #BC2C28;
  color: #fff;
}

.card-nav-tc .card-icon {
  background-color: #BC2C28;
  color: #fff;
}

.card-nav-tc:hover {
  background-color: #BC2C28;
  color: #fff;
}

.card-nav-tc:hover .card-icon {
  background-color: #fff;
  color: #BC2C28;
}

.card-nav-tc:hover .rm-tc {
  background-color: #fff;
  color: #BC2C28;
}

.nav-bs i {
  color: #526781;
}

.nav-bs:hover {
  background-color: #526781;
}

.nav-bs:hover i {
  color: #fff;
}

.nav-bs .dropdown-content {
  background-color: #485b71;
  /*Test color*/
}

.card-nav-bs {
  background-color: #fff;
}

.card-nav-bs .rm-bs {
  background-color: #526781;
  color: #fff;
}

.card-nav-bs .card-icon {
  background-color: #526781;
  color: #fff;
}

.card-nav-bs:hover {
  background-color: #526781;
  color: #fff;
}

.card-nav-bs:hover .card-icon {
  background-color: #fff;
  color: #526781;
}

.card-nav-bs:hover .rm-bs {
  background-color: #fff;
  color: #526781;
}

.nav-mk i {
  color: #25A25A;
}

.nav-mk:hover {
  background-color: #25A25A;
}

.nav-mk:hover i {
  color: #fff;
}

.nav-mk .dropdown-content {
  background-color: #208d4e;
  /*Test color*/
}

.card-nav-mk {
  background-color: #fff;
}

.card-nav-mk .rm-mk {
  background-color: #25A25A;
  color: #fff;
}

.card-nav-mk .card-icon {
  background-color: #25A25A;
  color: #fff;
}

.card-nav-mk:hover {
  background-color: #25A25A;
  color: #fff;
}

.card-nav-mk:hover .card-icon {
  background-color: #fff;
  color: #25A25A;
}

.card-nav-mk:hover .rm-mk {
  background-color: #fff;
  color: #25A25A;
}

.nav-cs i {
  color: #DE093F;
}

.nav-cs:hover {
  background-color: #DE093F;
}

.nav-cs:hover i {
  color: #fff;
}

.nav-cs .dropdown-content {
  background-color: #c50838;
  /*Test color*/
}

.card-nav-cs {
  background-color: #fff;
}

.card-nav-cs .rm-cs {
  background-color: #DE093F;
  color: #fff;
}

.card-nav-cs .card-icon {
  background-color: #DE093F;
  color: #fff;
}

.card-nav-cs:hover {
  background-color: #DE093F;
  color: #fff;
}

.card-nav-cs:hover .card-icon {
  background-color: #fff;
  color: #DE093F;
}

.card-nav-cs:hover .rm-cs {
  background-color: #fff;
  color: #DE093F;
}

.nav-dt i {
  color: #79539a;
}

.nav-dt:hover {
  background-color: #79539a;
}

.nav-dt:hover i {
  color: #fff;
}

.nav-dt .dropdown-content {
  background-color: #6c4a89;
  /*Test color*/
}

.card-nav-dt {
  background-color: #fff;
}

.card-nav-dt .rm-dt {
  background-color: #79539a;
  color: #fff;
}

.card-nav-dt .card-icon {
  background-color: #79539a;
  color: #fff;
}

.card-nav-dt:hover {
  background-color: #79539a;
  color: #fff;
}

.card-nav-dt:hover .card-icon {
  background-color: #fff;
  color: #79539a;
}

.card-nav-dt:hover .rm-dt {
  background-color: #fff;
  color: #79539a;
}

.card-icon {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.card p {
  height: 100px;
}

.row-1 a, .row-2 a {
  color: #333645;
}

.row-1 a, .row-1 a:hover,
.row-2 a, .row-2 a:hover {
  text-decoration: none;
}

.card {
  position: relative;
}

.card .rm {
  position: absolute;
  width: 125px;
  height: 45px;
  border-radius: 5%;
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
}

.card .rm p {
  padding-top: 7px;
}

.card-nav {
  padding-left: 7%;
  padding-right: 7%;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.card-nav .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-nav .row-1 .card {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px #cccccc solid;
  border-radius: 2%;
  padding: 25px 20px 15px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.card-nav .row-1 .card .c-title {
  text-transform: capitalize;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.card-nav .row-1 .card .c-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  border: #333645 solid 1px;
  top: 100%;
  left: 45%;
}

.card-nav .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-nav .row-2 .card {
  border: 1px #cccccc solid;
  border-radius: 2%;
  padding: 25px 20px 15px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.card-nav .row-2 .card .c-title {
  text-transform: capitalize;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.card-nav .row-2 .card .c-title::after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  border: #333645 solid 1px;
  top: 100%;
  left: 45%;
}

.card-nav i {
  padding-top: 17px;
  text-align: center;
  font-size: 23px;
}

@media (max-width: 768px) {
  .row-1, .row-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row-1 .card, .row-2 .card {
    width: 100%;
    margin-bottom: 35px;
  }
  .row-1 .card .rm, .row-2 .card .rm {
    right: 35%;
    bottom: 5%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card-nav {
    padding-left: 5%;
    padding-right: 5%;
  }
  .row-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 3%;
  }
  .row-1 .card {
    width: 100%;
    margin-right: 4%;
    margin-bottom: 5%;
  }
  .row-1 .card .rm {
    right: 43%;
    bottom: 5%;
  }
  .row-1 .card:last-of-type {
    margin-bottom: 3%;
  }
  .row-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row-2 .card {
    width: 45%;
    height: 350px;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .row-2 .card:last-child {
    margin-right: 0%;
  }
  .row-2 .card .rm {
    right: 35%;
    bottom: 5%;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  .row-1 {
    margin-bottom: 3%;
  }
  .row-1 .card {
    margin-right: 5%;
    width: 30%;
    height: 350px;
  }
  .row-1 .card:last-child {
    margin-right: none;
  }
  .row-1 .card .rm {
    right: 30%;
    bottom: 5%;
  }
  .row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row-2 .card {
    height: 350px;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 45%;
  }
  .row-2 .card .rm {
    right: 35%;
    bottom: 5%;
  }
}

@media (min-width: 1260px) {
  .card-nav {
    padding-left: 10%;
  }
  .row-1 {
    margin-bottom: 3%;
  }
  .row-1 .card {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 0%;
    height: 350px;
  }
  .row-1 .card:last-child {
    margin-right: 3%;
  }
  .row-1 .card .rm {
    right: 35%;
    bottom: 5%;
  }
  .row-2 .card {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 21.5%;
    height: 350px;
    margin-right: 3.35%;
  }
  .row-2 .card:last-child {
    margin-right: 0%;
  }
  .row-2 .card .rm {
    right: 30%;
    bottom: 5%;
  }
}

.nm-announce, .site {
  position: relative;
}

.news-container {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-bottom: 35px;
}

.news-container img {
  max-width: 100%;
  max-height: 75%;
}

.news-container .news-card {
  border: 1px #d9d9d9 solid;
  border-radius: 5px 5px;
  cursor: pointer;
}

.news-container .news-card .latest-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
}

.news-container .info {
  padding: 25px;
}

.news-container .u-img {
  border: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.news-container .user {
  padding-top: 20px;
  position: relative;
}

.news-container .user::before {
  content: '';
  display: block;
  position: absolute;
  width: 95%;
  border: #d9d9d9 solid 1px;
  top: 1%;
  left: 5%;
}

.news-container .user .posted-by {
  display: inline-block;
  margin-left: 15px;
}

.rm-n {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  border-radius: 2px 2px;
  padding: 10px 3px;
  width: 125px;
  margin-bottom: 7%;
  cursor: pointer;
}

.rm-n a, .rm-n a:hover, .rm-n a:visited {
  color: #fff;
  text-decoration: none;
}

.para {
  font-size: 13px;
  height: 50px;
}

.news-tag {
  background-color: #286ABD;
}

.news-tag:hover {
  background-color: #1f5293;
}

.news-tag-title {
  color: #286ABD;
}

.career-tag {
  background-color: #526781;
}

.career-tag:hover {
  background-color: #3e4e62;
}

.career-tag-title {
  color: #526781;
}

@media (max-width: 768px) {
  .news-card {
    width: 100%;
    height: auto;
    margin: 30px 5px 0 5px;
  }
  .news-card .latest-img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .news-card {
    width: 45%;
    height: auto;
  }
  .news-card:first-child {
    margin-left: 2%;
    margin-right: 2%;
  }
  .news-card:last-child {
    display: none;
  }
  .news {
    height: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  .news-card {
    width: 45%;
    margin-left: 3%;
    margin-top: 2%;
  }
  .news-card:last-of-type {
    display: none;
  }
}

@media (min-width: 1260px) {
  .news-container {
    padding-left: 8%;
  }
  .news-card {
    width: 27%;
    height: auto;
    margin-right: 2%;
  }
  .news-card:last-child {
    margin-right: 0%;
    display: initial;
  }
}

.nav-wrapper {
  background-color: #333645;
  height: 100px;
}

.nav-bar {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav {
  border: 1px solid #666666;
  cursor: pointer;
}

.nav i {
  font-size: 1.25em;
  left: 42%;
}

.nav p {
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
}

.nav-title {
  text-transform: uppercase;
  font-size: 1em;
}

.nav-title small {
  font-size: 10px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px 7% 10px 14%;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
}

.dropdown-content a:hover {
  text-decoration: none;
  color: #fff;
}

.dropdown-content a::after {
  padding-left: 20px;
  padding-right: 20px;
  content: "-";
}

.dropdown-container:hover .dropdown-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-logo {
  width: 100%;
  height: 120%;
}

.phone a:link, .phone a:visited {
  color: #333645;
}

.phone a:hover {
  text-decoration: underline;
}

.lg, .m, .sm {
  display: none;
}

.top-nav {
  width: 90%;
  height: auto;
}

.nav-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav-buttons i {
  padding-right: 10px;
}

.nav-buttons a {
  padding: 15px 20px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-buttons a:hover {
  color: #fff;
}

.nav-buttons .btn-1 {
  background-color: #286ABD;
}

.nav-buttons .btn-1:hover {
  background-color: #1f5293;
}

.nav-buttons .btn-2 {
  background-color: #b3b3b3;
}

.nav-buttons .btn-2:hover {
  background-color: #999999;
}

.nav-buttons .btn-1, .nav-buttons .btn-2 {
  margin-right: 20px;
}

.search-bar {
  border: #666666 1px solid;
  width: auto;
  height: 55px;
  padding-left: 10px;
  border: 1px solid #666666;
}

.search-bar:active {
  border: 1px solid #666666;
}

.phone {
  display: none;
}

.phone i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.phone a {
  font-size: 2.5em;
  padding: 5px 10px 7px 10px;
}

.phone a:hover {
  text-decoration: underline;
}

.search-button {
  margin-right: 20px;
}

.search-button a {
  background-color: #b3b3b3;
}

.search-button a:hover {
  background-color: #999999;
}

.b-menu a, .b-menu-sm a {
  background-color: #333645;
}

.b-menu a:hover, .b-menu-sm a:hover {
  background-color: #1d1f28;
}

.b-menu::after, .b-menu-sm::after {
  content: "menu";
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  position: relative;
  right: 52%;
  top: 30%;
}

.b-menu-sm, .search-button-sm {
  display: none;
}

.search-button, .b-menu, .b-menu-sm {
  margin-top: 10px;
}

.search-button a, .b-menu a, .b-menu-sm a {
  color: #fff;
  font-size: 1.5em;
  padding: 12px 20px 17px;
  border-radius: 3px;
}

.search-button a:hover, .b-menu a:hover, .b-menu-sm a:hover {
  text-decoration: none;
  color: #fff;
}

.search-button a {
  border-radius: 0px 3px 3px 0px;
}

@media (max-width: 768px) {
  .nav-buttons, .search-button, .nav-wrapper, .b-menu {
    display: none;
  }
  .phone {
    display: inline;
  }
  .logo {
    width: 55%;
    height: 55%;
    margin-right: 40px;
  }
  .phone {
    margin-right: 20px;
    position: relative;
    right: -5;
  }
  .b-menu-sm {
    position: relative;
    right: -5%;
  }
  .top-nav {
    width: 95%;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .b-menu-sm {
    display: initial;
  }
  form {
    width: 100%;
  }
  .search-bar {
    width: 100%;
    margin-top: 5%;
    background-color: #e6e6e6;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-buttons, .nav-wrapper, .phone {
    display: none;
  }
  .top-nav {
    margin-left: 12%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .logo {
    width: 45%;
    height: 45%;
    margin-right: 2%;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  .search-button-sm, .b-menu-sm, .phone, .search-bar {
    display: none;
  }
  .search-button {
    border-radius: 5px;
  }
  .top-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    margin-bottom: 1.5%;
    margin-top: 2%;
  }
  .top-nav .logo {
    height: 30%;
    width: 30%;
    margin-left: 12%;
    margin-right: 7%;
  }
  .top-nav .nav-buttons {
    position: relative;
    right: 3.5%;
  }
  .top-nav .ser-bur {
    position: relative;
    right: 3.5%;
  }
  .top-nav .b-menu {
    position: relative;
    right: 3.5%;
  }
  .nav-bar {
    height: 100px;
    padding-left: 12%;
  }
  .nav {
    width: 150px;
  }
  .nav small {
    padding-left: 10%;
  }
  .nav i {
    padding-top: 20px;
    position: relative;
    left: 42%;
  }
  .nav p {
    padding-left: 30%;
    font-size: 1.3em;
  }
  .dropdown-content {
    left: 0%;
    top: 28.5%;
    font-size: 10px;
  }
}

@media (min-width: 1260px) {
  .top-nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 13.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
  .logo {
    height: 30%;
    width: 30%;
    margin-right: 6%;
  }
  form {
    width: 20%;
  }
  .search-bar {
    width: 100%;
  }
  .nav-bar {
    height: 100px;
    padding-left: 13.5%;
  }
  .nav {
    width: 195px;
  }
  .nav i {
    padding-top: 20px;
    position: relative;
    left: 45%;
  }
  .nav small {
    position: relative;
    left: center;
    margin-left: 15%;
  }
  .nav p {
    padding-left: 30%;
    font-size: 1.3em;
    position: relative;
    right: 5%;
  }
  .b-menu {
    position: relative;
    right: 0%;
  }
  .navigation {
    position: relative;
    right: -10;
  }
  .dropdown-content {
    left: 0%;
    top: 27%;
  }
}

.carousel {
  background-image: url("../img/Carousel-images/web_design_slide_1.png");
  height: 550px;
  margin-bottom: 5%;
}

.opacity {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(4%, black), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, black 4%, rgba(0, 0, 0, 0) 100%);
}

.carousel-overlay {
  color: #fff;
}

.carousel-overlay h1 {
  margin: none;
  text-transform: uppercase;
  font-size: 48px;
}

.carousel-overlay p {
  width: 60%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}

.carousel-overlay a {
  background-color: #926fb1;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

.carousel-overlay a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #79539a;
}

@media (max-width: 768px) {
  .carousel {
    width: 100%;
    height: 550px;
  }
  .carousel-overlay {
    position: absolute;
    width: 75%;
    top: 40%;
    margin-left: 25%;
  }
  .opacity {
    width: 100%;
    height: 550px;
    top: 20.5%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .carousel {
    height: 550px;
  }
  .carousel-overlay {
    position: absolute;
    top: 30%;
    left: 20%;
  }
  .opacity {
    width: 100%;
    height: 550px;
    top: 15.5%;
  }
}

@media (min-width: 992px) and (max-width: 1260px) {
  .opacity {
    width: 100%;
    height: 550px;
    top: 28%;
  }
  .carousel-overlay {
    position: absolute;
    top: 40%;
    left: 5%;
  }
}

@media (min-width: 1260px) {
  .carousel {
    height: 550px;
  }
  .carousel-container {
    position: relative;
    color: #fff;
  }
  .carousel-container .carousel-overlay {
    position: absolute;
    top: 35%;
    left: 10%;
  }
  .opacity {
    width: 100%;
    height: 550px;
    top: 0%;
  }
}

/* Stops items from being selected / copied*/
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.break {
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 100px;
  padding-top: 25px;
  font-size: 20px;
  margin-left: 10%;
  position: absolute;
}

.break::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  border: #333645 solid 2px;
  top: 100%;
}
/*# sourceMappingURL=style.css.map */