
.carousel-wrapper{
    width:8%;
    color: $nm-primary;
    position:absolute;
    top:25%;

    .carousel-overlay{
        margin-left: auto;
        margin-right:auto;
    }
    
    h1{
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 400;
    }
    p{
        width:40%;
        font-weight:700;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 20px;
    }
    a{
        display: flex;
        padding:20px 5px 20px 20px;
        text-decoration: none;
        color:$nm-primary;
        text-transform: uppercase;
        font-size: 20px;
        
        cursor: pointer;
        border-radius: 3px;
        p{
            line-height: 22.8571px;
            letter-spacing: 0.4px;
            text-align: start;
            width:80%;
            // height:50px;
            margin:0;
            margin-right:10px;
        }
        &:hover{
            text-decoration: none;
            color: $nm-primary;
        }
    }
}

.slick-dots {
    bottom: 50px;
    li button:before{
        text-align: center;
        line-height: 22.8571px;
        letter-spacing: 0.4px;
        font-size: 16px;
        color:$nm-primary;
    }
    li button:hover::before{
        color: #869791;
    }

    li.slick-active button::before{
        color:$nm-primary;
        border: 3px solid $nm-primary;
        width: 27px;
        height:25px;
        border-radius: 50%;
    }
}

//||Media Queries||
//Changes the size of backgtound image and adapts the gradient to always fit over the image.
//Moves the position of the text overlay depending on screen size.

@media(max-width:$break-sm){
    .marketing{
        width:300px;
        text-align: center;
        white-space: nowrap;
        p{
            font-size: 16px;
        }
    }
    .carousel{
        // position:absolute;
        // // right:200px;
        width:auto;
        height:731px;
        padding-right: 80%;
        text-align: center;
    }
    .carousel-wrapper{
        position: absolute;
        top:30%;
        margin:0 auto;
    }
    #carousel-container{
        // img
        // overflow: hidden;
        margin-right:200px;
    }
    .carousel-overlay{
        // top:40%;
        h1, p, a {
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
        p{
            width:80%;

        }
    }
}

@media(min-width:$break-sm)and(max-width:$break-m){
    .carousel{
        height:550px;
    }

    .carousel-wrapper{
        position: absolute;
        top:25%;
    }
    .carousel-overlay{

        h1, p, a {
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
        p{
            width:50%;

        }
    }
}
@media(min-width:$break-m) and (max-width:$break-lg){
    .carousel{
        height:550px;
    }
    .carousel-wrapper{
        position: absolute;
        top:25%;
    }
    .carousel-overlay{
        h1, p, a {
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
        p{
            width:40%;
            font-size: 20px;
        }
    }
}

    // overlay needs to be central aligned

@media (min-width:$break-lg) and (max-width:$break-xl){
    .carousel{
        width:100%;
        height:450px;
    }
    .carousel-wrapper{
        position: absolute;
        top:30%;
    }
    .carousel-overlay{
        width: 930px;
    }
}
@media(min-width:$break-xl) and (max-width:$break-4k){
    .carousel{
        height:auto;
    }
    .carousel-wrapper{
        position: absolute;
        top:25%;
    }
    .carousel-overlay{
        width:1225px;
    }
}

@media(min-width:$break-4k){
    .carousel{
        height:auto;
    }
    .carousel-wrapper{
        position: absolute;
        top:25%;
    }
    .carousel-overlay{
        width:1175px;
    }
}
