
.carousel, .opacity{
    width:100%;
    // padding-bottom:3.5%;
}

.carousel-wrapper{
    width:100%;
    color: $nm-primary;
    position:absolute;
    top:35%;

    .carousel-overlay{
        position: relative;
        margin-left: auto;
        margin-right:auto;
    }
    
    h1{
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 400;
    }
    p{
        width:40%;
        font-size:20px;
        font-weight:700;
        margin-bottom: 35px;
        font-weight: 400;
    }
    a{
        display: flex;
        width:220px;
        background-color: $nm-web;
        // padding:20px;
        padding:20px 5px 20px 20px;
        text-decoration: none;
        color:$nm-primary;
        text-transform: uppercase;
        font-size: 20px;
        
        cursor: pointer;
        border-radius: 3px;
        p{
            line-height: 22.8571px;
            letter-spacing: 0.4px;
            text-align: start;
            width:80%;
            // height:50px;
            margin:0;
            margin-right:10px;
        }
        // i{
        //     padding-top:5px;
        //     padding:0;
        //     margin:0;
        // }
        &:hover{
            text-decoration: none;
            color: $nm-primary;
            background-color:$nm-web-hover;
        }
    }
}

//||Media Queries||
//Changes the size of backgtound image and adapts the gradient to always fit over the image.
//Moves the position of the text overlay depending on screen size.

@media(max-width:$break-sm){
    .carousel{
        width:auto;
        height:731px;
    }
    .carousel-wrapper{
        position: absolute;
        top:30%;
    }
    .carousel-container{
        overflow: hidden;
    }
    .carousel-overlay{

        h1, p, a {
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
        p{
            width:80%;

        }
    }
}

@media(min-width:$break-sm)and(max-width:$break-m){
    .carousel{
        height:550px;
    }

    .carousel-wrapper{
        position: absolute;
        top:25%;
    }
    .carousel-overlay{

        h1, p, a {
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
        p{
            width:50%;

        }
    }
}
@media(min-width:$break-m) and (max-width:$break-lg){
    .carousel{
        height:550px;
    }
    .carousel-wrapper{
        position: absolute;
        top:25%;
    }
    .carousel-overlay{
        h1, p, a {
            text-align: center;
            margin-left:auto;
            margin-right:auto;
        }
        p{
            width:40%;

        }
    }
}

    // overlay needs to be central aligned

@media (min-width:$break-lg) and (max-width:$break-xl){
    .carousel{
        width:100%;
        height:450px;
    }
    .carousel-wrapper{
        position: absolute;
        top:30%;
    }
    .carousel-overlay{
        width: 930px;
    }
}
@media(min-width:$break-xl) and (max-width:$break-4k){
    .carousel{
        height:auto;
    }
    .carousel-wrapper{
        position: absolute;
        top:40%;
    }
    .carousel-overlay{
        width:1175px;
    }
}

@media(min-width:$break-4k){
    .carousel{
        height:auto;
    }
    .carousel-wrapper{
        position: absolute;
        top:50%;
    }
    .carousel-overlay{
        width:1175px;
        
       
    }
}
