
.dropdown{
    background-color: darken($nm-web, 20%);
}
.bar-container{
    width:100%;
    // height: 55px;
    position:absolute;
    top:20%;
    // margin-left: 100px;
}
.sub-nav-bar{
    display:none;
    width:5%;
    // position: absolute;
    display:inline-flex;
    //top:25%;
}
