
//Start the Dropdown tooltips here.
  .dropdown-content {
    display:none;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    z-index: 100;
    left:0;
    span{

      a{
        color: $nm-primary;
        text-decoration: none;
        text-transform: uppercase;
          &:hover{
            text-decoration: none;
            color:$nm-primary;
          }
      }
        
        &::after{
          color:$nm-primary;
            content:"-";
        }
        &:last-of-type::after{
          content:" ";
        }
        &:first-of-type{
          
          margin-left:auto;
        }
    }
  }

  .align{
    width:50px;
    &::before,&::after{
      content: " ";
    }
    &:last-of-type{
      margin-right: auto;
    }
  }
  .end{
    margin-right: auto;
  }
  


  .dropdown-container:hover .dropdown-content{
    display: inline-flex;
  }

  @media(min-width:$break-lg){

    .dropdown-content{
      span{
        padding-left:15px;
        padding-bottom:10px;
        padding-top:10px;

        a{
          padding-right:15px;
        }
        &:first-of-type{
          padding-left: 0;
        }
      }

      
    }
  }

  @media(min-width:$break-xl){

    .dropdown-content{
  
      span{
        padding-left: 30px;
        a{
          font-size:16px;
          padding-right:30px;
        }
       
      }
    }
  }
