
.nav-wrapper{
    background-color: $nm-secondary;
    height:100px;
}
.nav-bar{
    // width:100%;
    display:inline-flex;
}

.nav {
    border: 1px solid $nm-tertiary;
    cursor: pointer;
    i{
      font-size: 1.25em;
      left:45%;
    }
    p{
      color: $nm-primary;
      text-decoration: none;      
    }
    a:hover{
      text-decoration: none;
    }
}

.nav-title{
  text-transform: uppercase;
  small{
    font-size: 10px;
  }
}


//Start the Dropdown tooltips here.
// .dropdown {
//     position: relative;
//     display: none;
// }
  
  .dropdown-content {
    display:none;
    position: absolute;
    padding:10px 7% 10px 14%;
    width: 100%;
    z-index: 1;
  }
  
.dropdown-content a {
    color: $nm-primary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
   
    &:hover{
        text-decoration: none;
        color:$nm-primary;
    }
    &::after{
        padding-left:25px;
        padding-right:25px;
        content:"-"
    }
  }

  .dropdown-container:hover .dropdown-content{
    display: inline-flex;
  }