
$nav-height:56px;
.phone{
    font-size: 2em;
}

.top-nav{
    width:86%; // 7% left margin (93%)
}
.nav-buttons{
    display:initial;
}
.btn{
    height: $nav-height;
    width: 144px;
    margin-right:20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size:3em;
    text-align: center;
}

.btn-1{
    background-color: $nm-it;
    color: $nm-primary;
    &:hover{
        background-color: darken($nm-it, 10%);
        color: $nm-primary;
    }
}
.btn-2{
    background-color: $nm-bs;
    color: $nm-primary;
    &:hover{
        background-color: darken($nm-bs,10%);
        color: $nm-primary;
    }
}

.search-bar{
    width: auto;
    height:$nav-height;
    padding-left:10px;
}
.search-button, .b-menu, .b-menu-sm{
    height:$nav-height;
    width: 70px;
    text-align: center;
    cursor: pointer;
    color: $nm-primary;
    
    i{
        padding-top: 10px;
        font-size: 1.75em;
    }
}
.search-button{
    background-color: lighten($nm-tertiary, 20%);
    border-radius: 0px 2px 2px 0px;
    &:hover{
        background-color: $nm-tertiary;
    }
    &:active{
        background-color:blue ;

        // .nav-buttons{
        //     display:none;
        // }
        .btn-1{
            background-color: pink;
        }
    }
}
.b-menu{
    background-color: $nm-secondary;
    margin-left:20px;
    border-radius: 2px;
    &:hover{
        background-color: darken($nm-secondary, 20%);
    }
}

.b-menu-sm{
    background-color: $nm-secondary;
    margin-left:30px;
    border-radius: 5px;
    &:hover{
        background-color: darken($nm-secondary, 20%);
    }
    display:none;
}

//  .search-button:hover{ // and search clicked on
//     // When search button is clicked
//     .nav-buttons{
//         display:none;
//     }
    // nav-buttons display:none
    // search bar display: initial
    //$bar-minimised: false;
// }

// || Media Queries ||

@media (max-width:$break-sm){
    .top-nav{
        display: flex;
        flex-wrap: wrap;
        margin-right: 1%;
    }
    .logo img{
        height:70px;
        width: 402px;
    }
    .b-menu-sm, .phone{
        display:initial;
        margin-top:3%;
    }

    .nav-buttons, .b-menu, .search-button{
        display:none;
    }
    .search-bar{
        margin: 5% 0% 5% 11%;
        width: 500px;
        height:$nav-height;
        background-color: lighten($nm-tertiary,50%);
    }
}

@media (min-width:$break-m){
    .top-nav{
        display:inline-flex;
        flex-wrap: nowrap;
        // width: 90%;
        margin: 3% 7%;
    }
    .logo{
        &img{
            height:60px;
            width:345px;
        }
        
    }
    
    .phone, .search-bar{
        display:none;
    }
    .nav-buttons{
        display: initial;
        // width: 30%;
    }
}

@media (min-width:$break-lg){
    .top-nav{
        display: inline-flex;
        flex-wrap: nowrap;
        max-height:120px;
        margin: 2% 0% 2% 7%;
    }
    .logo{
        padding-right: 7%;
        &img{
            width:370px; //370px
            height: 64.42px; 
        }
    }
    .phone{
        display:none;
    }

    .b-menu-sm{
        display: none;
    }
    .search-bar{
        display: initial;
        width: 200px;
    }
}