
$nav-height:55px;

// .top-nav{
//     display:flex;
//     flex-wrap:wrap;
// }
.f-logo{
    width: 100%;
    height:120%;
}


.phone a:link, .phone a:visited{
    color:$nm-secondary;
 }
 .phone a:hover{
     text-decoration: underline;
 }


.lg,.m,.sm{
    display:none;
}

// .top-nav{
//     width:90%;
//     height:auto;
// }

.nav-buttons{
    display:inline-flex;
    i{
        padding-right:10px;
    } 

    a{
        //works out sizing for support and contact
        padding: 15px 20px;
        color:$nm-primary;
        font-size:18px;
        text-transform: uppercase;
        &:hover{
            color:$nm-primary;
        }
    }
    //Sets  "Support" button and it s hoverstates colour
    .btn-1{
        background-color: $nm-it;
        &:hover{
            background-color:darken($nm-it,10%);
        }
    }

    // sets the "Contact buttons colout and its hoverstakes colour
    .btn-2{
        background-color:lighten($nm-tertiary,30%);
        &:hover{
            background-color:lighten($nm-tertiary,20%);
        }
    }
    .btn-1,.btn-2{
        margin-right:20px;
    }
}

//|| Navigation Sizes ||

.search-bar{
    border:$nm-tertiary 1px solid;
    width: auto;
    height:$nav-height;
    padding-left:10px;
    border:1px solid $nm-tertiary;
    &:active{
        border: 1px solid $nm-tertiary;
    }
}
.phone{
    i{
       transform: rotate(-45deg);
    }
    a{ 
        font-size: 2.5em;
        padding:5px 10px 7px 10px;
    }
    a:hover{
        text-decoration: underline;
    }
    display:none;
}

.search-button{
    margin-right:20px;
    a{ 
        background-color: lighten($nm-tertiary,30%);
       
        &:hover{
            background-color: lighten($nm-tertiary,20%);
        }
    }
}

.b-menu a{

    background-color: $nm-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 56px;
    width: 56px;
    line-height: 8px;
    border-radius: 3px;

    font-size: 3em;
    padding-left: 5px;
    padding-right:5px;
    color:$nm-primary;

    
    &:hover,:visited{
        color:$nm-primary;
        background-color: darken($nm-secondary, 10%);
        text-decoration: none;
    }
    span{
        padding-left:12px;
        &:last-of-type:after{
            content: "menu";
            text-transform: uppercase;
            font-size:12px;
            color:$nm-primary;
            position: relative;
            right: 15%;
        }
    }
    
}
.search-button-sm{
    display:none;
}
.search-button{
    margin-top:10px;

}
.search-button a{
    color:$nm-primary;
    font-size: 1.5em;
    padding:10.2px 18px 17px;
    border-radius: 3px;
    &:hover{
        text-decoration: none;
        color:$nm-primary;
    }
}
.search-button a{
    border-radius: 0px 3px 3px 0px;
}

// || Media Queries ||

//Small if the max is 600px

@media (max-width:$break-sm){

    //Remove un-needed elements
    .nav-buttons, .search-button, .nav-wrapper{
        display:none;
    }
    .phone{
        display: inline;
    }
    //Resize Netmatters logo
    .logo{
        .f-logo{
            width:60%;
        }
    }
    .phone{
        margin-right:20px;
        position:relative;
        right:-5;
    }
    .b-menu{
        position:absolute;
        top: 3%;
        right:5%;
    }

    //Make everything inline and certain things appear
    .top-nav{
        width:95%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom:15px;
    }

    //Modify sizes and add whitespace
    form{
        width:100%;
    }
    .search-bar{
        width:95%;
        margin-top:5%;
        background-color: lighten($nm-tertiary,50%);
    }
}

//Medium Between 600px and 900px
@media (min-width:$break-sm) and (max-width:$break-m){
    //Remove elements
    .nav-buttons, .nav-wrapper,.phone{
        display:none;
    }
    .top-nav{
        display: inline-flex;
        margin:3% 5%;
    }

    .logo{
        .f-logo{
            width:80%;
        }
    }
}


@media(min-width:$break-m) and (max-width:1023px){
    // remove elements
    .search-button-sm, .phone,
    .nav-buttons,.nav-wrapper{
        display:none;
    }
    // .search-button{
    //     border-radius: 5px;
    // }
    .top-nav{
        display: inline-flex;
        // width:100%;
        
        margin-top:3%;
        margin-right:10%;
        margin-left:10%;
        margin-bottom: 5%;
    }
    .logo{
        margin-right: 5%;
        .f-logo{
            width:90%;
        }
    }

    
}

 //Large if the minumum is 1024
@media (min-width:$break-lg) and (max-width:$break-xl){
    .top-nav{
        width:100%;
        display:inline-flex;
        padding-left:5%;
        padding-right:5%;
        margin-top:1.5%;
        margin-bottom: 1.5%;
        .logo{
            height:50%;
            margin-right:4.5%;
        }
        .f-logo{
            width:90%;
        }    
    }
    .navigation{
        display: none;
    }
    .nav-bar{
        position: absolute;
        width:100%;
        height:99px;
        padding-left: 5%;

        .nav{
            width:154.33px;
            height:99px;

            i{
                padding-top:15px;
                position: relative;
            }
    
            p{
                font-size: 1.3em;
                text-align: center;
            }
        }
    }
}

@media (min-width:$break-xl){
    .navigation{
        display: block;
    }
    .top-nav{
        display:inline-flex;
        padding-left:13.5%;
        padding-right:14%;
        margin-top:1.5%;
        margin-bottom: 1.5%;
        width:100%;
    }
    .logo{
        padding-right:11%;
    }
    .f-logo{
        height:64.42px;
        width:370px;
    }
    form{
        width:20%;
    }
    // .search-bar{
    //     width:100%;
    // }
   
    
    .b-menu{
        position:relative;
        // right:50%;
    }
    .navigation{
        position:relative;
        right:10;
    }

    .nav-bar{
        position: absolute;
        width:100%;
        height:99px;
        // align-content: center;
        padding-left: 13.5%;
        // padding-right:10%;

        .nav{
            width:192.67px;
            height:99px;
            i{
                padding-top:15px;
                position: relative;
            }
    
            p{
                font-size: 1.3em;
                text-align: center;
            }
            
        }
    }
}
@media(min-width:$break-4k){
    .top-nav, .nav-bar{
        padding-left:$xxlPadding;
    }
    .logo{
        padding-right:7%;
    }
    .navigation{
        width:12%;
    }
}
