
$nav-height:57px;
.top-nav{
    margin-left:auto;
    margin-right:auto;
    display: flex;
}

.phone a:link, .phone a:visited{
    color:$nm-secondary;
 }
 .phone a:hover{
     text-decoration: underline;
 }


.lg,.m,.sm{
    display:none;
}

.nav-buttons{
    display:inline-flex;
    i{
        padding-right:10px;
    } 

    a{
        //works out sizing for support and contact
        padding: 15px 20px;
        color:$nm-primary;
        font-size:18px;
        text-transform: uppercase;
        &:hover{
            color:$nm-primary;
        }
    }
    //Sets  "Support" button and it s hoverstates colour
    .btn-1{
        background-color: $nm-button-blue;
        &:hover{
            background-color:$nm-support-hover;
        }
    }

    // sets the "Contact buttons colout and its hoverstakes colour
    .btn-2{
        background-color:$nm-contact;
        &:hover{
            background-color:$nm-contact-hover;
        }
    }
    .btn-1,.btn-2{
        margin-right:20px;
    }
}

//|| Navigation Sizes ||

.search-bar{
    border:1px solid #e5e5e5;
    height:$nav-height;
    padding-left:10px;
    box-shadow: rgba(0,0,0,0.075) 0px 1px 1px 0px inset;
    font-size: 14px;
    line-height:20px;
    letter-spacing: normal;
}
.phone{
    i{
       transform: rotate(-45deg);
    }
    a{ 
        font-size: 2.5em;
    }
    a:hover{
        text-decoration: underline;
    }
    display:none;
}

.search-button{
    margin-right:20px;
    width:55px;
    height: 57px;
    margin-top:17px;
  

    a{ 
        background-color: #999aa2;
        color:$nm-primary;
        font-size: 17.008px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom:16.5px;
        padding-top:16.5px;
        height:57px;

        border-radius: 0 3px 3px 0;
        &:hover{
        background-color: #7e808a;

            text-decoration: none;
            color:$nm-primary;
        }
    }
}


.search-button-sm{
    display:none;
}

.b-menu a, .b-menu-sm a{
    background-color: $nm-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 63.03px;
    height: $nav-height;
    line-height: 8px;
    border-radius: 3px;
    color:$nm-primary;
    .burger-line{
        margin-left:15px;
        width: 33px;
        height: 3px;
        background-color: $nm-primary;
        margin-bottom: 5px;
    }
    .b-menu-sm{
        display:none;
    }
    
    &:hover,:visited{
        color:$nm-primary;
        background-color: darken($nm-secondary, 10%);
        text-decoration: none;
    }
    small{
        font-size: 13px;
        text-transform: uppercase;
        margin-left:12px;
        margin-top:5px;
    }
    span{
        padding-left:12px;
    }
    
}

// || Media Queries ||

@media (max-width:$break-sm){
    //Remove un-needed elements
    .nav-buttons, .search-button, .b-menu{
        display:none;
    }
    .phone{
        display: block;
        margin-left: auto;
        margin-right:auto;
        margin-top:15px;
    }
    .b-menu-sm{
        display: block;
        margin-right: auto;
        margin-top:2%;
    }
    // //Resize Netmatters logo
    .logo{
        max-width:65%;
        margin-top:20px;
        margin-left:auto;
        .f-logo{
            width: 100%;
        }
    }
    // //Make everything inline and certain things appear
    .top-nav{
        flex-wrap: wrap;
        width:95%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom:15px;
    }

    // //Modify sizes and add whitespace
    form{
        width:100%;
    }
    .search-bar{
        width:95%;
        margin-top:5%;
        background-color: lighten($nm-tertiary,50%);
    }
    .navigation{
        display: inline-flex;
    }
}

//Medium Between 600px and 900px
@media (min-width:$break-sm) and (max-width:$break-m){
    //Remove elements
    .nav-buttons, .nav-wrapper,.phone, .b-menu-sm{
        display:none;
    }
    .top-nav{
        width:750px;
        // margin:3% auto;
        margin-top:3%;
        margin-bottom: 3%;
        // margin-left: auto;
        margin-right: auto;
    }
    .logo{
        margin-right: 15px;
    }
    .navigation{
        display: inline-flex;
    }
}


@media(min-width:$break-m) and (max-width:1023px){
    // remove elements
    .search-button-sm, .phone,
    .nav-buttons,.nav-wrapper, .b-menu-sm{
        display:none;
    }
    .top-nav{
        width:775px;
        margin-top:3%;
        margin-bottom: 3%;
    }
    .logo{
        margin-right: 40px;
    }
    .navigation{
        display:inline-flex;
    }   
}

 //Large if the minumum is 1024
@media (min-width:$break-lg) and (max-width:$break-xl){

    .b-menu-sm, .search-bar{
        display:none;
    }
    .b-menu-sm{
        display:none;
    }
    .navigation{
        display: inline-flex;
        margin-right:auto;
    }
    .top-nav{
        width:920px;
        margin-top:1.5%;
        margin-bottom: 1.5%;
    }
    .logo{
    margin-right:5%;
    }
    .f-logo{
        height:64.42px;
    }
    form{
        width:20%;
    }
    
    .search-button a{
        border-radius: 3px 3px;
    }
}

@media (min-width:$break-xl){
    .b-menu-sm{
        display:none;
    }
    .navigation{
        display: flex;
        margin-right:auto;
        width:335px;

    }
    .search-bar{
        width: 200px;
    }
    .top-nav{
        width:1175px;
        margin-top:1.5%;
        margin-bottom: 1.5%;
    }
    .logo{
    margin-right:10%;
    }
    .f-logo{
        height:64.42px;
    }
    form{
        width:20%;
    }
}

@media(min-width:$break-4k){
    .b-menu-sm{
        display:none;
    }
    .top-nav{
        width:1175px;
    }
    .logo{
        margin-right:10%;
    }
}
