#netmattersPopUp{
    position:absolute;
    // align-self: center;
    top:5%;
    left:5%;
    width:90%;
    // height:90;
    // width:80%;
    // margin:auto;
    padding:15px;
    border: 3px solid $nm-secondary;
    background-color: $nm-primary;
    z-index: 9999;
    // -webkit-animation: fade 500ms;
    // animation: fade 500ms;

    overflow-y:auto;
    overflow-x: hidden;
    h2{
        padding-bottom: 25px;
        border-bottom: 0.5px solid $nm-tertiary;
    }
    p{
        font-size: 16px;
        line-height:25px;
    }
    margin: 0 auto;
    #cookieButtons{
        // display: flex;
        width:90%;
        margin:0 auto;
        // margin:0 auto;
        a{
            // padding: 15px 25px;
            // background-color: $nm-web;
            text-decoration: none;
            h3{
                text-align: center;
                padding:25px;
                background-color: $nm-web;
                color: $nm-primary;
                font-size: 17px;
                text-transform: uppercase;
            }
            &:first-of-type h3{
                background-color: grey;
            }
        }
       
    }
}

/**
* Controls the darkerned effect so users cannot interact while cookies
* have not been accepted
*/
#site-overlay-pop{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    // -webkit-animation: fade 500ms;
    // animation: fade 500ms;
}


@media(min-width:$break-m){
    #netmattersPopUp{
        width:600px;
        left:17%;
        // right:25%;

        top:20%;
    }

    #cookieButtons{
        // width:500px;
        display: inline-flex;
        margin: 0 auto;
        a{
            width:50%;
            padding:0;
        }
        a:first-of-type{
            margin-right: 25px;
            margin-left: 10%;
        }
    }
}

@media(min-width:$break-lg){
    #netmattersPopUp{
        left:22%;
    }
}

@media(min-width:$break-xl){
    #netmattersPopUp{
        left:32%;
    }
}

@media(min-width:$break-4k){
    #netmattersPopUp{
        left:38%;
    }
}