
.about-us{
    background-color: $nm-secondary;
    background-image: url(../img/Icons/branded.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding:25px;
    color: $nm-primary;
    font-size:20px;
    h1{
        text-transform:uppercase;
        font-size: 2em;
        padding-bottom:35px;
        
    }

    p{
        padding-bottom: 40px;
        line-height:1.5;

        &:first-of-type{
            font-weight: bold;
        }
    }

    .culture{
        padding: 5px 5px;
        border-radius: 5%;
        background: $nm-primary;
        color: $nm-secondary;

        cursor: pointer;
        &:hover{
            background-color: darken($nm-primary, 10%)
        }
    }
}

//|| Media Queries ||
//Adapts Padding and width
@media(min-width:$break-sm){//max
    .content{
        padding: 25px;
        width:100%;
    }
}

@media(min-width:$break-m){
    .content{
        padding-left:50px;
        width:75%;
    }
    
}

@media (min-width:$break-lg){
    .content{
        padding-left:125px;
        width:45%;
    }
}