
.about-us{
    background-image: url(../img/Icons/branded.png);
    background-repeat:no-repeat;
    
    // backg
    background-position: right;

    background-color: $nm-secondary;
    color: $nm-primary;
    font-size:20px;
    

    h1{
        text-transform:uppercase;
        font-size: 36px;
        font-weight: 400;  
        padding-bottom: 20px;
        padding-top:40px;
    }

    p{
        line-height:2;
        font-size: 16px;
        font-weight:400;
        padding-bottom: 20px;

        &:first-of-type{
            font-weight: 500;
        }
    }

    .culture{
        padding: 10px 19px;
        border-radius: 3px;
        background: $nm-primary;
        color: $nm-secondary;
        font-size:17px;
        font-weight:400;
        text-transform: uppercase;
        margin-bottom:40px;

        cursor: pointer;
        &:hover{
            background-color: darken($nm-primary, 10%)
        }
    }
}

// || Media Queries ||
// Adapts Padding and width
@media(max-width:$break-sm){//max
    .content{
        width:90%;
        background-image: url(" ");
    }
    .about-us{
        padding-top: 20px;
        padding-left: 10px;
        padding-bottom: 25px;
    }

    
}

@media(max-width:$break-m){
    .content{
        width:95%;
    }
    .about-us{
        padding: 20px;
    }
}

@media(min-width:$break-m) and (max-width:$break-lg){
    .content{
        padding-left:11%;
        width:87%;
        background-size: 85% 100%;
    }
    .about-us{
        padding: 20px;
    }
    
}
@media (min-width:$break-lg){
    .content{
        padding-left:13%;
        width:45%;
    }
    .about-us {
        background-size: 85% 100%;
        h1 {
            margin-top:0;
        }
    }
    

}