
footer {
    .buisness-info{        
        @include text-display;
        flex-wrap:wrap;
        background-color: $nm-secondary;
        color: $nm-primary;
        padding:2% 8%;
        
        li{
            list-style:none;
        }
        address{
            font-style: normal;
        }
        .f-title{
            text-transform:uppercase;
            padding-bottom: 1em;
        }
        a{
            color:$nm-primary;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}

.footer-icons,
.footer-web-design{
    @include display;
    height: 100px;
    padding: 20px 7%;
}
.f-img{
    filter: grayscale(100%);
    &:hover{
        filter:grayscale(0%);
    }
    
}
.social-media,
.contact-info,
.about,
.website{
    border: 1px red solid;
}

.social-media{
    .social-buttons{ //parent container
        display:flex;
        justify-content: flex-start;
        flex-wrap:wrap; 
    }
}
.gp{
    margin-left: 50px;
    width:200px;
    height: 75px;
}

//extra small
@media (max-width:$break-xs){
    .buisness-info{
        padding-top: 50px;
        padding-right:150px;
    }
    .social-media{
        width: 100%;
        a{
            background-size: 25%;
            padding:30px 75px;
            margin-right:5px;
            margin-top:10px;
        }
    }
    .footer-icons, 
    .footer-web-design, 
    .nav-bar {
        display:none;
    }
}

//Small

@media(max-width:$break-sm){
    
}
// Medium
@media (max-width:$break-m){
    .buisness-info{
        display:flex;
        .ft{
            margin-right: 5%;
        }
    }

    .social-media{
        width: 25%;
        a{
            background-size: 25%;
            padding:20px 50px;
            margin-right:5px;
            margin-top:10px;
            
        }
    }
}

//Large

@media (min-width:$break-lg){ 
    .buisness-info{
        display:flex;
        justify-content: space-between;
       
    }
    .social-media{
        width: 20%;
        a{
            background-size: 25%;
            padding:20px 50px;
            margin-right:5px;
            margin-top:10px;
            
        }
    }
}