
.buisness-info{        
    // height:100%;
    @include text-display;
    flex-wrap:wrap;
    background-color: $nm-secondary;
    color: $nm-primary;
    // padding:2% 8%;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    h4{
        font-size:16px;
        font-weight:300;
    }
    
    li{
        list-style:none;
    }
    address{
        font-style: normal;
    }
    .f-title{
        text-transform:uppercase;
        padding-bottom: 1em;
    }
    a{
        color:$nm-primary;
        text-decoration: none;
    }
    a:hover{
        color:$nm-primary;
        text-decoration: underline;
    }
}
.footer-icons, .footer-web-design,
     .top-imgs, .bottom-imgs{
        display:inline-flex;
    }

.f-img{
    height:65px;
    filter: grayscale(100%);
    &:hover{
        filter:grayscale(0%);
    }
}
.bottom-imgs .f-img{
    &:first-of-type{

        filter: none;
        width:200px;
        height: 75px;
    }
}

// This Keeps the social Media Buttons in the correct placement under social media

.social-buttons{ 
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap; 
}

// //Small
@media (max-width:$break-sm){//max
    .footer-icons, .footer-web-design,
    .top-imgs, .bottom-imgs{
        display:none;
    }

    .buisness-info{
        padding:15px;
    }

    .social{
        margin:10px;
        width: 200px;
        height:65px;
    }
}

// Medium
@media (min-width:$break-sm) and (max-width:$break-m){
    .footer-icons, .footer-web-design,
    .top-imgs, .bottom-imgs{
        display:none;
    }
    .buisness-info{
        display:flex;
        flex-wrap: wrap;
        padding:20px;
    }
    .contact-info,
    .website{
        width: 45%;
    }
    .about,.social-media{
        width:50%;
    }
    .social{
        margin-right:5%;
        margin-bottom:5%;
        height:55px;
        width:150px;
    }
}
@media (min-width:$break-m) and (max-width:$break-lg){
    .buisness-info{
        padding-left:12%;
        padding-right:3%;
        display:flex;
        flex-wrap: wrap;
        // padding:20px;
    }
    .contact-info,
    .website{
        width: 45%;
    }
    .about,.social-media{
        width:50%;
    }
    .social{
        margin-right:5%;
        margin-bottom:5%;
        height:55px;
        width:200px;
    }

    .top-imgs ,.bottom-imgs {
        margin:35px 20px;
    }
    .top-imgs {
        padding-left: 12%;
        .f-img{
            width:80%;
            padding-right:30px;
            height:100%;
        }
        
    }
    .bottom-imgs{

        padding-left:10%;
    
        .f-img{
            width:80%;
            padding-right: 75px;
            &:last-of-type{
                padding-right: 0%;
            }
            &:first-of-type{
                padding-left: 35px;
                margin-right:100px;
            }
        }
    }
}

// //Large
@media (min-width:$break-lg){ 
    .buisness-info{
        width:100%;
        padding: 2% 3% 2% 14%;
        display:inline-flex;

    }
    .contact-info,.website,.about{
        width:20%;
        margin-right:3%;
    }
    .social-media{
        width:27%;
        a{
            background-size: 25%;
            padding:20px 50px;
            margin-right:5px;
            margin-top:10px; 
        }
    }
    .social{
        width:125px;
        height: 55px;
    }

    .top-imgs ,.bottom-imgs {
        margin-left:13.5%;
        margin-top:35px;
        margin-bottom:35px;
    }
    .top-imgs .f-img :last-of-type{
        margin-right:0%;
        
    }

    .top-imgs .f-img{
        width:100%;
        padding-right:100px;
        :last-of-type{
            padding-right:0%;
        }
    }

    .bottom-imgs .f-img{
        width:100%;
        // padding-right: 100px;
        padding-right: 175px;
        &:last-of-type{
            padding-right: 0%;
        }
        &:first-of-type{
            width:250px;
            padding-right:100px;
        }
    }
}