
//||Copied Code||\\
$pushywidth : 400px;
.pushy {
    position: fixed;
    width: $pushywidth;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: $nm-secondary;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
  }
  
  .pushy a {
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    text-decoration: none;
  }
  
  .pushy a:hover {
    color: #FFF;
  }
  
  .pushy ul:first-child {
    margin-top: 10px;
  }
  
  .pushy.pushy-left {
    left: 0;
  }
  
  .pushy.pushy-right {
    right: 0;
  }
  
  .pushy-content {
    visibility: hidden;
  }

  .pushy-right {
    -webkit-transform: translate3d($pushywidth, 0, 0);
    -ms-transform: translate3d($pushywidth, 0, 0);
    transform: translate3d($pushywidth, 0, 0);
  }
  
  .pushy-open-right #container,
  .pushy-open-right .push {
    -webkit-transform: translate3d(-$pushywidth, 0, 0);
    -ms-transform: translate3d(-$pushywidth, 0, 0);
    transform: translate3d(-$pushywidth, 0, 0);
  }
  
  .pushy-open-left .pushy,
  .pushy-open-right .pushy {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .pushy-open-left .pushy-content,
  .pushy-open-right .pushy-content {
    visibility: visible;
  }
  
  /* Menu Transitions */
  #container,
  .pushy,
  .push {
    transition: transform .75s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }
  
  .pushy-content {
    transition: visibility .75s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  }
  
  /* Site Overlay */
  .site-overlay {
    display: none;
  }
  
  .pushy-open-left .site-overlay,
  .pushy-open-right .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: fade 500ms;
    animation: fade 500ms;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  //||/Copied Code||\\

  //|| My Adjustments ||\\
  #pushy-cont{
    color:$nm-primary;
    text-transform: uppercase;
    font-size: 14px;
    overflow-y: scroll;
    letter-spacing: 0.4px;
    ul{
      list-style: none;
      cursor: pointer;
      padding-bottom: 0;
      margin-bottom: 0;
  
      li {
          // padding:15px;
          border-top: 1px solid #22242e;
          border-bottom: 1px solid hsla(0,0%,100%,.1);
          &:first-of-type{
              background-color: lighten($nm-secondary,5%) ;
              color:$nm-primary;
              // opacity: 5%;
              padding:10px;
              a::before{
                content: " ";
                padding:0;
              }
          }
          a{
              color:$nm-primary;
              text-decoration: none;
              &::before{
                content: "\00BB";
                padding-right: 20px;
            }
          }
         
      }
      &:hover{
        li:first-of-type{
            background-color: lighten($nm-secondary,20%);
            
        }
    }
  }
}