
//|| Style ||\\
.newsletter{
    // padding-left: 13%;
    // padding-right: 10%;
    // padding-top:3%;
    // padding-bottom: 3%;

    background-color: $nm-newsletter;
    
}

#news-letter{
    // width:100%;
    h2{
        font-size: 32px;
        // width:500px;
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom:20px;
    }
    #subscribe{
        appearance: none;
        border-radius: 3%;
        padding:10px 20px;
        text-transform:uppercase;
        font-size: 16px;
        font-weight:500;
        background-color: $nm-secondary;
        color:$nm-primary;
        margin-top: 35px;
    }
    #subscribe:hover{
        background-color:darken($nm-secondary,10%);
    }
    .NL-Field{
        margin:0 0;
    }
    .checkbox{
        padding-left: 2%;
        // top:0%;
    }
}
// input bars
.name-group{
    margin-bottom:25px;
}
.name-group,.email-group{
    label {
        font-size: 16px;
        font-weight: 500;
        color:$nm-secondary;
        letter-spacing: 1px;
        small{
            color:red;
        }
    } 
}
#name,#email{
    width:100%;
    height:45px;
    padding:10px;
    border: none;
    border-radius: 3px 3px;
}

input[type ="email"],
input[type="text"],
input[type ="tel"],
textarea{ // this is also working for the searchbar as it uses the same type
    outline: none;

    &:focus{
        outline: none;
        transition: .15s ease-in-out;
        border: 1px solid rgb(91,192,222);
        transition: .15s ease-in-out;
        box-shadow: 0px 0px 8px rgba(91,192,222,.6);
    }
}

.checkLab{
    margin-left:2%;
    font-size:16px;
    color:$nm-secondary;
    font-weight:500;
    line-height: 32px;
    letter-spacing:.4px;
    width:90%;
    a{
        color:$nm-secondary;
        text-decoration: underline;
        &:hover{
            color:$nm-secondary;
        }
    }
}

.check{
    display: flex;
    input[type="checkbox"]{
        margin-right:20px;
        appearance: none;
        border: 3px solid $nm-secondary;
        border-radius: 3px;
        width: 35px;
        height: 35px;
        &:checked{
            background-color: $nm-secondary;
            &::after{
                //This makes sure that the Unicode for the checkmark works
                font-family:'Font Awesome 5 Free';
                content:'\f00c';
                font-weight: 900;
                font-size: 20px;
                color:$nm-primary;
                position: relative;
                top:15%;
                left:15%;
            }
        }
    }
}
.failedSub{
    color: #A94442;
    background-color:#F2DEDE;
    border: 1px solid #ebccd1;
    
}
.completedSub{
    color: $nm-primary;
    background-color:$nm-marketing;
    // border: 1px solid #ebccd1;
}

.completedSub, .failedSub{
    padding:15px;
    font-size:16px;
    width:100%;
    margin:15px auto;
    i{
        margin-left: auto; 
        color:#000;
        opacity: .4;
        &:hover{
            opacity: .7;
            cursor: pointer;
        }
    }
}

@media(max-width:$break-sm){
    .newsletter{
        padding-left: 15%;
        padding-right:15%;
        padding-top: 50px;
        padding-bottom:50px;
    }
    #checkbox{
        margin-left:-1%;
    }
    #lc{
        margin-left:9%;
    }
    
}


@media(min-width:$break-sm) and (max-width:$break-m){
    .newsletter{
        padding-left: 10%;
        padding-right:10%;
        padding-top: 50px;
        padding-bottom:50px;
    }
    #checkbox{
        margin-left:-2%;
    }
    #lc{
        margin-left:5%;
    }
}

@media(min-width:$break-m) and (max-width:$break-lg){
    .newsletter{
        padding-left: 15%;
        padding-right:15%;
        padding-top: 50px;
        padding-bottom:50px;
    }
    .completedSub, .failedSub{
        width:70%;
    }

    
    #checkbox{
        margin-left:-2%;
    }
}
@media(min-width:$break-lg) and (max-width:$break-xl){
    #news-letter{
        width:900px;
        margin-left:auto;
        margin-right:auto;
    }
    .newsletter{
        // width:900px;
        // padding-left: 5%;
        // padding-right:5%;
        padding-top: 50px;
        padding-bottom:50px;
        // padding-right:10%;
    }
    .form-wrapper{
        width:100%;
        display: inline-flex;
    }
    .name-group,.email-group{
        // margin-right:30px;
        width:47%;
    }
    .name-group{
        margin-right:30px;
    }
    .completedSub, .failedSub{
        width:70%;
    }
}

@media(min-width:$break-xl) and (max-width:$break-4k){
    #news-letter{
        width:1100px;
        margin-left:auto;
        margin-right:auto;
    }
    .newsletter{
        padding-top: 50px;
        padding-bottom:50px;
    }
    .form-wrapper{
        width:100%;
        display: inline-flex;
    }
    .name-group,.email-group{
        width:49%;
    }
    .name-group{
        margin-right:30px;
    }
    .completedSub, .failedSub{
        width:70%;
    }
}



@media(min-width:$break-4k){
    #news-letter{
        width:1100px;
        margin-left:auto;
        margin-right:auto;
    }
    .newsletter{
        padding-top: 50px;
        padding-bottom:50px;
    }
    .form-wrapper{
        width:100%;
        display: inline-flex;
    }
    .name-group,.email-group{
        width:49%;
    }
    .name-group{
        margin-right:30px;
    }
    .completedSub, .failedSub{
        width:70%;
    }
}