
//|| Style ||\\

.newsletter{
    padding-left: 10%;
    padding-bottom: 5%;
    height:auto;
    h2{
        text-transform: capitalize;
        margin-top: 0px;
        margin-bottom: 3%;
    }
    #check{
        position: relative;
        // top:10%;
        margin-right:10px;
    }
    .check{
        width:85%;
        padding-top:20px;
        // margin-left: 5px;
        font-size: 1.15em;
        a{
            color:$nm-secondary;
            text-decoration: underline;
        }
        a:hover{
            color:darken($nm-secondary,10%);
        }
    }
}
#name,#email{
    border:none;
    box-shadow:3px 1px 30px lighten($nm-tertiary,30%);
    width:550px;
    height:45px;
}
    
.name,.name-sm,.email,.email-sm{
    font-size: 1.35em;
    i{
        color:#d24d57;
    }
}

input[type="checkbox"]{
    appearance: none;
    height: 35px;
    width: 35px;
    border: 3px solid $nm-secondary;
    border-radius: 5px;
    // background-color: $nm-tertiary;
    cursor: pointer;
    &:after{
        content:"\f00c";
        color:$nm-primary;
        width:15px;
        height:15px;
    }
    &:checked{
        background-color: $nm-secondary;
    }
}
.sub{
    width: 125px;
    padding-top:7px;
    padding-bottom:7px;

    color: $nm-primary;
    text-transform: uppercase;
    font-size: 1.35em;
    background-color: $nm-secondary;
    border-radius: 3px;
    margin-top: 25px;
    text-align: center;
    cursor: pointer;

    &:hover{
        background-color: darken($nm-secondary,10%);
    }
}

//|| /Style ||\\


//|| Media Queries ||\\   
 //Small
@media(max-width:$break-sm){//max
    .user-data-input{
        display: flex;
        flex-wrap: wrap;
    }
    #name,#email{
        width:500px;
        padding:5px;
        margin-bottom:50px;
        margin-right:25px;
    }
    .name, .email{
        display: none;
    }
}


//Medium
@media(min-width:$break-sm) and (max-width:$break-m){
    .user-data-input{
        display: flex;
        flex-wrap: wrap;
        width:75%;
    }
    #name,#email{
        width:550px;
        padding:5px;
        margin-bottom:50px;
        // margin-right:10%;
    }
    .name, .email{
        display: none;
    }
}

@media(min-width:$break-m) and (max-width:$break-lg){
    .user-data-input{
        // display: flex;
        // flex-wrap: wrap;
        width:100%;
    }
    #name,#email{
        width:450px;
        padding:5px;
        margin-bottom:50px;
        margin-right:5%;
    }
    .name-sm, .email-sm{
        display: none;
    }

    .email{
        position:absolute;
        right:37%;
    }
}

//Large
@media(min-width:$break-lg){
    .email-sm, .name-sm{
        display:none;
    }
    .email{
        position: absolute;
        right:46%; //39%;
    }
    
    #name,#email{
        // width:550px;
        padding: 10px;
    }
    #name{
        margin-right: 3%;
        margin-bottom: 25px;
    }
}

//|| /Media Queries ||\\