
.f-img {
    .colourimg, .colour-Img{
        display: none;
    }
    &:hover{
        .greyimg, .gray-img{
            display:none;
        }
        .colourimg, .colour-Img{
            display: block;
        }
    }
}

.footer-web-design, .site,
.bottom-imgs .f-img{
    display: inline-flex;
}
.google{
        box-shadow: 8px 7px 10px -7px rgba(0,0,0,0.2);
}

.top-imgs, .bottom-imgs{
    margin-left: auto;
    margin-right: auto;
}

.footer-icons{
    margin-bottom: 50px;
}
/*||#################################################################
############ || Media Queries for the footer positioning || #########
###################################################################*/



@media (max-width:$break-sm){//max
    .footer-icons, .footer-web-design,
    .top-imgs, .bottom-imgs{
        display:none;
    }
}
@media(min-width:$break-sm) and (max-width:$break-m){
    .top-imgs{
        width:650px;
        margin-bottom: 50px;
        margin-top: 25px;
        .f-img img{
            height:45px;
            margin-right:30px;
        }
    }
    .bottom-imgs{
        width: 650px;
        margin-top: 50px;
        margin-bottom: 50px;
        .f-img img{
            height:53px;
            margin-right:40px;
        }
    }
}
@media (min-width:$break-m) and (max-width:$break-lg){
    .top-imgs{
        width:650px;
        margin-bottom: 50px;
        margin-top: 25px;
        .f-img img{
            height:45px;
            margin-right:30px;
        }
    }
    .bottom-imgs{
        width: 650px;
        margin-top: 50px;
        margin-bottom: 50px;
        .f-img img{
            height:53px;
            margin-right:40px;
        }
    }
}



@media (min-width:$break-lg)and(max-width:$break-xl){

    .top-imgs{
        width: 950px;
        margin-bottom:50px;
        margin-top: 50px;
        .f-img img{
            height: 60px;
            margin-left:40px;
        }
    }

    .bottom-imgs{
        width:970px;
        margin-bottom:50px;
        margin-top: 50px;
        // margin-left:auto;
        .f-img img{
            height:60px;
            margin-right:35px;
            margin-left:35px;  
        }
    }

//   
}

@media (min-width:$break-xl){//max

    .top-imgs{
        width: 1175px;
        // margin-left: auto;
        // margin-right: auto;
        margin-bottom:50px;
        margin-top: 50px;
        .f-img img{
            height:70px;
            margin-right:35px;
            margin-left:35px;
        }
    }

    .bottom-imgs{
        width: 1175px;
        margin-bottom:50px;
        margin-top: 50px;
        .f-img img{
            height:70px;
            margin-right:55px;
            margin-left:55px;  
        }
    }
}
