
.nm-announce,.site{
    position:relative;
    overflow:visible;
}

.tt{
    position: absolute;
    top: 2%;
    right: 5%;
    padding: 4px 3px;
    a, a:visited{
        color:$nm-primary;
        text-transform: uppercase;
        &:hover{
            color:$nm-primary;
        }
    } 
}

//Creates the tool-tip adds in the text and sets default display to show nothing.
.tt::before,.tool::before{
    content: attr(data-text);
    position:absolute;
    transform:translateY(-150%);
    margin-left:15px;

    width:200px;
    padding:10px;
    background-color:$nm-secondary;
    color: $nm-primary;
    text-align:center;
    display:none;

}

//Sets the tooltip display to block to user can see the tool tip when hovered over.
.tt:hover::before,.tool:hover::before{
    display:block;
    // overflow: visible;
}
//Adds the Arrow to the tooltip that points to where it came from.
// I am wanting to have this as a mixin?
.tt:hover::after{
    // @include arrow($top:-50%,$left:50%);
    content: " ";
    position: absolute;
    top:-50%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $nm-tertiary transparent transparent transparent;

}

//Adds the Arrow to the tooltip that points to where it came from.
.tool:hover::after{
    // @include arrow($top:-92%,$left:50%);
    content: " ";
    position: absolute;
    top:-40%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $nm-secondary transparent transparent transparent;
}


// @mixin arrow($top:0,$left:0) {
//     content: " ";
//     position: absolute;
//     top:$top;//-92%;
//     left: $left;//50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: $nm-secondary transparent transparent transparent;
// }
