
.tt{
    position: absolute;
    top: 2%;
    right: 0%;
    padding: 4px 3px;
    a, a:visited{
        color:$nm-primary;
        text-transform: uppercase;
        &:hover{
            color:$nm-primary;
        }
    } 
}

//Creates the tool-tip adds in the text and sets default display to show nothing.
.tt::before{
    content: attr(data-text);
    position:absolute;
    transform:translateY(-128%);
    width:200px;
    height:65px;
    padding:10px;
    background-color:$nm-secondary;
    color: $nm-primary;
    text-align:center;
    display:none;
    // z-index: 1;
}
//Adds the Arrow to the tooltip that points to where it came from.
.tt:hover::after{
    overflow-y:visible;
    content: " ";
    position: absolute;
    top:-52%;
    left: 50%;
    // margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: $nm-secondary transparent transparent transparent;
    // z-index: 1;
}

// .tool::before{
//     // [data-text]::before{
//     //     content: "Bussys";
//     // }
//     // content: "Title";
//     content: attr(data-text);
//     position:absolute;
//     transform:translateY(-126%);
//     width:250px;
//     height:250px;
//     padding:20px;
//     background-color:$nm-secondary;
//     color: $nm-primary;
//     text-align:center;
//     display:none;
// }

.tooltip-text{
display: none;
color:$nm-primary;
text-align: center;
position:absolute;
top:-175%;

    h3{
        // display: none;
        background-color: $nm-secondary;
        width:260px;
        height:auto;
        margin:0;
        padding-bottom:3%;
        &::after{
            content: '';
            display:block;
            position: absolute;
            width: 35px;
            border:$nm-primary solid 1.5px;
            background-color: $nm-primary;
            // top: 100%;
            left: 32%;
            margin-top:10px;

        }
    }
    p{
        // display: none;
        background-color: $nm-secondary;
        width:80%;
        padding-left:23px;
        padding-right:19px;

    }

}

// //Adds arrow 
.tool:hover:after{
    content: "";
    position: absolute;
    top:-60%;
    left: 25%;
    margin-left: -10px;
    border-width: 35px;
    border-style: solid;
    border-color: $nm-secondary transparent transparent transparent;
}


//Sets the tooltip display to block to user can see the tool tip when hovered over.
.tt:hover::before,.tool:hover::before, .tooltip-text{
    display:block;
}

