// This code  creates code blocks for the service cards and adjusts the colours when hovered over
//for each service card, This also colours the navigation bar when hovered over

//I will need to add a way for the dropdown to also take on this colour

$service-colors:('web' $nm-web, 'it' $nm-it, 'tc' $nm-tc, 'bs' $nm-bs, 'mk' $nm-marketing, 'cs' $nm-security, 'dt' $nm-training);
/*Creates a block of code that colours the backgtound*/
@each $name, $color in $service-colors{

    .nav-#{$name}{
        i{
            color:$color;
        }
        &:hover{
            background-color:$color;
            i{
                color:$nm-primary;
            }
        }
    }

    //Read me /icon colouring
    .card-nav-#{$name}{
        //Default
        background-color: $nm-primary;
        .rm-#{$name}{
            background-color: $color; //Sets color of read me to the current colour the loop is setting
            color:$nm-primary;
        }
        .card-icon{
            background-color: $color;
            color:$nm-primary;
        }
        //hover-state
        &:hover{
            background-color:$color;
            color:$nm-primary;
            .card-icon{
                background-color: $nm-primary;
                color:$color;
            }

            .rm-#{$name}{
                //padding-top: 100px;
                background-color: $nm-primary;
                color:$color; 
            }
         }
    }
}