
$service-colors:('web' $nm-web, 'it' $nm-it, 'tc' $nm-tc, 'bs' $nm-bs, 'mk' $nm-marketing, 'cs' $nm-security, 'dt' $nm-web);


@each $name, $color in $service-colors{
    //Colours the navigation buttons at the top of site.
    .nav-#{$name}{
        i{
            color:$color;
        }
        &:hover{
            background-color:$color;
            i{
                color:$nm-primary;
            }
        }
    }

    .nav-#{$name} .dropdown-content{
        background-color: darken($color,5%); /*Test color*/
    }

    //Colours service cards, sets them as a default colour of $nm-primary
    //and sets a hoverstate colour for all elements of the card
    //background, text,read more and icons.

    // there is probably a way to make it so that when compiled the code in css is more dry?
    .card-nav-#{$name}{
        //Default
        background-color: $nm-primary;
        .rm-#{$name}{
            background-color: $color; 
            color:$nm-primary;
        }
        .card-icon{
            background-color: $color;
            color:$nm-primary;
        }

        //hover-state
        &:hover{
            background-color:$color;
            color:$nm-primary;
            .card-icon{
                background-color: $nm-primary;
                color:$color;
            }
            .rm-#{$name}{
                //padding-top: 100px;
                background-color: $nm-primary;
                color:$color; 
            }
         }
    }
}