
.nm-announce{
    position:relative;
    overflow: hidden;
}

.tt{
    position: absolute;
    top: 2%;
    right: 5%;
    padding: 4px 3px;
    a, a:visited{
        color:$nm-primary;
        text-transform: uppercase;
        &:hover{
            color:$nm-primary;
        }
    } 
}

.tt:hover .tt-text{
    visibility:visible;
}

.tt-text{
    color: $nm-primary;
    background-color: $nm-secondary;
    position: absolute;
    top: -20%;
    right:-15%;
    z-index: 1;
    padding: 2% 5%;
    overflow-y: visible;
}
.tt-text::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.news-container{
    margin-top:10%;
    & img{
        max-width:100%;
        max-height:75%;
    }
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom:35px;

    .news-card{
        border: 1px lighten($nm-tertiary, 45%) solid;
        border-radius: 5px 5px;
        .latest-img{
            &:hover{
                transform: scale(1.1);
                color:$nm-primary;
            }
        }      
    }
    .info{
        padding:25px;
    }

    .u-img{
        border: none;
        border-radius: 50%;
        height:45px;
        width:45px;
    }
    .user{
        padding-top: 20px;
        position: relative;
        &::before{
            content: '';
            display:block;
            position: absolute;
            width: 95%;
            border: lighten($nm-tertiary, 45%) solid 1px;
            top: 1%;
            left: 5%;
        }

        .posted-by{
            display:inline-block;
            margin-left:15px;
        }
    }      
}
//Read more
    .rm-n{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.25em;
        background-color:$nm-web;
        border-radius: 2px 2px;
        padding:10px 3px;
        width:125px;
        margin-bottom:7%;
    
        a, a:hover, a:visited{
            color:$nm-primary;
            text-decoration: none;
        }
        cursor: pointer;
    }

    //Colours top right tab, title links and read more

    .para{
        font-size: 13px;
        height:50px;
    }

    .news-tag{ 
        background-color: $nm-it;
    }
    .news-tag-title{
        color:$nm-it;
    }
    .career-tag{
        background-color: $nm-bs;
    }
    .career-tag-title{
        color:$nm-bs;
    }

// || Media Queries ||

@media(max-width:$break-sm){
    .news-card{
        width:100%;
        height:auto;
        margin:30px 5px 0 5px;

        .latest-img{
            width:100%;
        }
   } 
}

@media(min-width:$break-m){
    .news-card{
        width:45%;
        height:auto;

        &:first-child{
            margin-left:2%;
            margin-right:2%;
        }
        &:last-child{
            display: none;
        }
    }
    .news{
        height:500px;
    }
}

@media(min-width:$break-lg){
    .news-card{
        width: 28%;
            height: auto;
            margin-right:2%;

        &:first-child{
            margin-left:2%;
        }
        &:last-child{
            margin-right: 0.1%;
            display: initial;
        }
    }
}
