
.nm-announce{//, .site{
    position:relative;
    overflow:hidden;
}
.site{
    position: relative;
}
.news-container{

    // Box shadow
    background: #DEDEDE;
    background: -moz-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #F0F0F0 0%, #FFFFFF 100%);
    & img{
        max-width:100%;
        max-height:75%;
    }
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom:35px;

    .news-card{
        border: 1px lighten($nm-tertiary, 45%) solid;
        border-radius: 5px 5px;
        background-color: $nm-primary;
        .latest-img{
            background-color: $nm-secondary;
            width:100%;
            height:75%;
            &:hover{
                transition: all .2s 0s ease-in;
                transform: scale(1.1);
                color:$nm-primary;
                opacity: 0.8;
            }
            transition: all 0.2s 0s ease-out;
        }
        cursor: pointer;      
    }
    .info{
        padding:25px;

        h4{
            padding-bottom: 35px;
        }
    }
    .u-img{
        border: none;
        border-radius: 50%;
        height:45px;
        width:45px;
    }
    .user{
        padding-top: 20px;
        position: relative;
        &::before{
            content: '';
            display:block;
            position: absolute;
            width: 95%;
            border: lighten($nm-tertiary, 45%) solid 1px;
            top: 1%;
            left: 5%;
        }

        .posted-by{
            display:inline-block;
            margin-left:15px;
            small{
                font-size: 14px ;
            }
        }
    }      
}
//Read more
    .rm-n{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.25em;
        // background-color:$nm-web;
        border-radius: 2px 2px;
        padding:10px 3px;
        width:125px;
        margin-bottom:7%;
    
        a, a:hover, a:visited{
            color:$nm-primary;
            text-decoration: none;
        }
        cursor: pointer;
    }

    //Colours top right tab, title links and read more

    .para{
        font-size: 13px;
        height:50px;
        font-weight:400;
        color: $nm-tertiary;
        margin-bottom:40px;
    }

    .news-tag{ 
        background-color: $nm-it;
        &:hover{
            background-color: darken($nm-it,10%);
        }
    }
    .news-tag-title{
        color:$nm-it;
        font-size:16px;
        font-weight:600;
    }
    .career-tag{
        background-color: $nm-bs;
        &:hover{
            background-color: darken($nm-bs,10%);
        }
    }
    .career-tag-title{
        color:$nm-bs;
    }


//|| 'Latest' Page Break ||\\
.break{
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    &::before{
        content: '';
        display:block;
        position: absolute;
        width: 100%;
        border:$nm-secondary solid 2px;
        top: 100%;
    }
}

// || Media Queries ||

@media(max-width:$break-sm){

    .news-container{
        margin-top:17%;
        padding-top:2%;
    }
    .break{ 
        left:3%;
        padding-bottom:20px;
        margin-top: 35px;
    }
    .news-card{
        width:100%;
        height:auto;
        margin:30px 5px 0 5px;

        .latest-img{
            width:100%;
        }
   } 
}
@media(min-width:$break-sm) and (max-width:$break-m){

    .news-container{
        // padding-left:13.5%;
        margin-top:15.5%;
        padding-top:4%;
        .news-card{
            width:45%;
            height:auto;
    
            &:first-child{
                margin-left:2%;
                margin-right:5%;
            }
            &:last-child{
                display: none;
            }
        }
    }
    .break{ 
        left:2.5%;
        padding-bottom:40px;
        padding-top: 45px;
    }


    
    .news{
        height:500px;
    }
}

@media(min-width:$break-m) and (max-width:$break-lg){

        .news-card{
            width:37%;
            margin-right:2%;
            margin-top:2%;

            // &:first-of-type{
            //     margin-left:12%;
            // }

            &:last-of-type{
                display:none;
            }
        }

        .news-container{
            margin-top:8%;
            padding-top:4%;
        }
        
    .break{
        // top: 304%;
        left:5%;
        padding-bottom:20px;
        padding-top: 35px;
    }
}

@media(min-width:$break-lg){
    .news-container{
        // padding-left:13.5%;
        margin-top:6.5%;
        padding-top:3%;
        padding-right: 5%;
    }
    .break{
        top:258%;
        left:5%;
        padding-bottom:30px;
        padding-top: 40px;
    }
    .news-card{
        width:45%;
        margin-right:2%;
        margin-top:2%;

        &:first-of-type{
            margin-left:5%;
            margin-right:3%;
        }

        &:last-of-type{
            display:none;
        }
    }

    
}

@media(min-width:$break-xl){
    .break{
        top:243%;
        left:13%;
    }
    .news-card{
        width: 25%;
            height: auto;
            margin-right:2%;
            &:first-of-type{
                margin-left:13.5%;
                // margin-right:3%;
            }
        &:last-child{
            margin-right: 0%;
            display: initial;
        }
    }
}

@media(min-width:$break-4k){
    .news-card{
        width:15%;
        &:first-of-type{
            margin-left:$xxlPadding;
        }
        &:last-of-type{
            margin-right:10%;
        }
    }
}