
//|| Default card structure ||

 .card-icon{ // selects nav icon
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
// .card p{
//     // height: 100px;
// }

.row-1 a, .row-2 a{
    color:$nm-secondary;
}
.row-1 a, .row-1 a:hover,
.row-2 a, .row-2 a:hover{
    text-decoration: none;
}

.card{
    
    h3{

        &::after{
            content: '';
            display:block;
            // position: absolute;
            width: 35px;
            margin-left: auto;
            margin-right: auto;
            margin-top:10px;
            border:$nm-secondary solid 1.5px;
            background-color: $nm-secondary;
            // top: 100%;
            // left: 46.5%;
            // margin-top:10px;
        }
        
        
    }

    &:hover h3::after{
        content: '';
        display:block;
        // position: absolute;
        width: 35px;
        margin-left: auto;
        margin-right: auto;
        border:$nm-primary solid 1.5px;
        background-color: $nm-primary;
        // top: 100%;
        // left: 44%;
    }
    &:hover{
        box-shadow:inset 0px 0px 50px -30px rgba(0,0,0,0.5) ;
    }
}    

.card-nav{
padding:30px 0px;

    .row-1{  //Parent of row 1
        display:flex;
        .card{
            flex-wrap: wrap;
            //UPDATE SHAPE /  SIZE AND INFO
            @include card-display;
            padding:30px;
            
        }
    }

    .row-2{ //parent of row 2
        display:flex;
        .card{
            @include card-display;
            padding:30px;
        }
    }
   
} 
//|| Media Queries ||

// Small screen view
@media(max-width:$break-sm){//max
    .card-nav{
        padding-right: 15px;
        padding-left:15px;
    }
    .row-1, .row-2{
        flex-wrap:wrap;
        .card{
            // width:395px;
            width:100%;
            min-height:312px;
            margin-top:30px;
        }
    }
    // .row-2 .card:last-of-type{
    //     margin-bottom:30px;
    // }
}

// Medium Screen View
@media(min-width:$break-sm) and (max-width:$break-m){ // low of 768px wide, high of 900px wide
    //top row has its 3

    .card-nav{
        padding:50px 0px;
    }
    .row-1{
        flex-wrap: wrap;
        .card{
    //         // width:720px;
            width:90%;
            height:290px;
            margin-left: 5%;
            margin-right:5%;
            margin-bottom:30px;
            // .rm{
            //     bottom:15%;
            // }
        }
    }
    //row 2 breaks into 2 rows of 2
    .row-2{
        flex-wrap: wrap;
        .card{
            width:43%;
            // min-width: 345px;
            height:312px;
            margin-bottom: 30px;

            // .rm{
            //     bottom: 7%;
            // }
            &:nth-of-type(2),&:nth-of-type(4){
                margin-left: 15px;
                margin-right:5%;
            }
            &:nth-of-type(1),&:nth-of-type(3){
                margin-left: 5%;
                margin-right:15px;
            }
            &:nth-of-type(3),&:nth-of-type(4){
                margin-bottom:0;
            }
        }
    }
 }

@media(min-width:$break-m) and (max-width:$break-lg){ //low of 900px high of 1024px

    .card-nav{
        padding:50px 0px;
    }
    .row-1{
        flex-wrap: wrap;
        .card{
    //         // width:720px;
            width:75%;
            height:290px;
            margin-left: 13.5%;
            margin-right:13.5%;
            margin-bottom:30px;

            // .rm{
            //     bottom: 13%;

            // }
        }
    }
    //row 2 breaks into 2 rows of 2
    .row-2{
        flex-wrap: wrap;
        .card{
            width:35%;
            height:312px;
            margin-bottom: 30px;

            // .rm{
            //     bottom:10%;
            // }
            &:nth-of-type(2),&:nth-of-type(4){
                margin-left: 15px;
            }
            &:nth-of-type(1),&:nth-of-type(3){
                margin-left: 13.5%;
                margin-right:15px;
            }
            &:nth-of-type(3),&:nth-of-type(4){
                margin-bottom:0;
            }
        }
    }
}

//large screen view
@media(min-width:$break-lg) and (max-width:$break-xl){
    .card-nav{
        padding:50px 0px;
        
    }
    .row-1 ,.row-2{
        width:930px;
        margin-left:auto;
        margin-right:auto;
    }
    .row-1 .card{
        width:32%;
        height:356px;
        &:nth-of-type(2){
            margin-left:30px;
            margin-right:30px;
        }
        // .rm{
        //     bottom:-7%;
        // }
    }
    .row-2 {
        display: flex;
        flex-wrap:wrap;
        .card{
            width:48.2%;
            height: 290px;
            margin-top:30px;
            &:nth-of-type(1), &:nth-of-type(3){
                margin-right: 30px;
            }
            // .rm{
            //     // right:-35%;
            //     bottom:13%;
            // }
        }
    }
}

@media (min-width:$break-xl){ //and (max-width:$break-4k){
    .card-nav{
        padding:50px 0px;
        
    }
    .row-1,.row-2{
        width:1175px;
        margin-left:auto;
        margin-right:auto;
    }
    .row-1 .card{
        width:31.5%; // width: 370px;
        height:312px;
        &:nth-of-type(2){
            margin-right:30px;
            margin-left:30px;
        }
        h3{
            width:100%;
        }
        // .rm{
        //     // right:-25%;
        //     // position: relative;
        //     // bottom:7%;
        // }
    }
    .row-2 .card{
        width:23%;//width:270px;
        height:312px;
        margin-top:30px;
        // margin-bottom: 50px;
        &:nth-of-type(2){
            margin-left:30px;
            margin-right:30px;
        }
        &:nth-of-type(3){
            margin-right: 30px;
        }
    }
}

// @media(min-width:$break-4k){
//     .card-nav{
//     padding-bottom: 50px;
//     }
//     .row-1, .row-2{
//         width:1175px;
//     }
//     .row-1 .card{
//         width:14.3%;
//         height:312px;
//         &:nth-of-type(2){
//             margin-left: 30px;
//             margin-right: 30px;
//         }
//         .rm{
//             right:-33%;
//             bottom:5%;
//         }
//     }
//     // .row-1 .card:first-of-type, .row-2 .card:first-of-type{
//     //     margin-left: auto;
//     // }
//     .row-2 .card {
//         width: 10.5%;
//         margin: 0;
//         height:312px;
//         margin-top:30px;
//         &:nth-of-type(2){
//             margin-left: 30px;
//             margin-right:30px;
//         }
        
//         &:nth-of-type(3){
//             margin-right:30px;
//         }
//         .rm{
//             right:-25%;
//         }
//     }

// }
