
//|| Default card structure ||

 .card-icon{ // selects nav icon
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.card p{
    height: 100px;
}

.row-1 a, .row-2 a{
    color:$nm-secondary;
}
.row-1 a, .row-1 a:hover,
.row-2 a, .row-2 a:hover{
    text-decoration: none;
}

.card{
    position: relative;
    .rm{
        position: absolute;
        width: 125px;
        height: 45px;
        // left:35%;
        // bottom:0%;
        border-radius:5%;
        padding:5px;
        text-transform: uppercase;
        text-align:center;
        font-size: 1.25em;
        & p{
            padding-top:7px;
        }
    }    
}

.card-nav{
    padding-left:7%;
    padding-right: 7%;
    background-color:darken($nm-primary, 5%);
    padding-bottom:50px;

    .row-1{  //Parent of row 1
        display:flex;
        .card{
            flex-wrap: wrap;
            //UPDATE SHAPE /  SIZE AND INFO
            @include card-display;
        }
    }

    .row-2{ //parent of row 2
        display:flex;
        .card{
            @include card-display;
        }
    }
    & i{
        padding-top:17px;
        text-align: center;
        font-size: 23px;
    }
} 
//|| Media Queries ||

// Small screen view

@media(max-width:$break-xs){
    .row-1, .row-2{
        justify-content:center;
        flex-wrap:wrap;
        .card{
            width:100%;
            margin: 0 10px 35px 10px;
            .rm{
                right:35%;
                bottom:5%;
            }
        }
    }
}
@media(max-width:$break-sm){
   .row-1{
       justify-content: center;
       flex-wrap: wrap;
       .card{
        width:100%;
        // margin: 0 10px 35px 10px;
    }
   }
}

//Medium Screen View
@media(min-width:$break-m){
    //top row has its 3
    .row-1{
         margin-bottom:3%;
        .card{
            width:29%;
            height:350px;
            margin-right: 4%;
            .rm{
                right: 30%;
                bottom:5%;
            }
        }
    }
    //row 2 breaks into 2 rows of 2
    .row-2{
        flex-wrap: wrap;
        .card{
            width: 45%;
            margin-right:5%;
            margin-bottom:3%;

            &:last-child{
                margin-right:0%;
            }
            .rm{
                right: 35%;
                bottom: 5%;
            }
        }
    }
}

//large screen view
@media(min-width:$break-lg){
    .card-nav{
        padding-left: 10%;
    }
    .row-1{
        margin-bottom:3%;
    }
    .row-1 .card{
        width: 30%;
        margin-right:3%; 
        &:last-child{
            margin-right:3%;
        }
        .rm{
            right:35%;
            bottom:5%;
        }
    }
    .row-2 .card{
        flex-wrap:nowrap;
        width:21.5%;
        margin-right:3.35%;
        
        &:last-child{
            margin-right: 0%;
        }
        .rm{
            right:30%;
            bottom: 5%;
        }
    }
}
