

.card-nav{
    
    padding-bottom:50px;       
    .row-1{  //Parent of row 1
        display:flex;
        .card{
            flex-wrap: wrap;
            //UPDATE SHAPE /  SIZE AND INFO
            @include card-display;
        }
    }

    .row-2{ //parent of row 2
        display:flex;
        .card{
            @include card-display;
        }
    }
} 

    @media(max-width:$break-sm){
        .row-1, .row-2{
            justify-content:center;
            flex-wrap:wrap;
            .card{
                height:300px;
                width:100%;
                margin: 0 10px 35px 10px;
            }
        }
    }


    @media(min-width:$break-m){
        //top row has its 3
        .row-1{
            .card{
                width:28%;
                height:300px;
                margin-right: 4%;
                margin-top:3%;

                &:first-child{
                    margin-left:3%;
                }
            }
        }

        //row 2 breaks into 2 rows of 2
        .row-2{
            flex-wrap: wrap;
            .card{
                width: 45%;
                height:300px;
                margin-left:3%;
                margin-top:3%;
            }
        }
    }

    @media(min-width:$break-lg){
        .row-1 .card{
            width: 28%;
            height: 350px;
            margin-right:5%; 

            &:first-child{
                margin-left:3%;
            }
            &:last-child{
                margin-right:3%;
            }
        }
        .row-2 .card{
            flex-wrap:nowrap;
            width:20%;
            height:325px;

            margin-right:1.7%;
            &:last-child{
                margin-right: 0%;
            }
            &:first-child{
                margin-left: 3%;
            }
            margin-top:3%;
        }
    }

    .card-icon{ // selects nav icon
        padding: 25px;
        border-radius: 100%;
    }

    .row-1 a, .row-2 a{
        color:$nm-secondary;
    }
    .row-1 a, .row-1 a:hover,
    .row-2 a, .row-2 a:hover{
        //color:pink;
        text-decoration: none;
    }
    // .row-1 a:link{
    //     color: pink;
    //     //text-decoration: none;
    // }
        

