
// breakpoint variables
$break-sm: 766px;
$break-m: 900px; 
$break-lg: 1023px;
$break-xl:1260px;
$break-4k:2560px;

// $xxlPadding: 22%;
$xxlPadding: auto;

// $xlPadding: 12.5%;
$xlPadding: auto;

// $l:11%;
$l:auto;

// $m:3%;
$m:auto;

