
// breakpoint variables
$break-sm: 768px;
$break-m: 769px; //992px
$break-lg: 1260px; //1000

 //Small

 // || MEDIA QUERIES ||
 //These are media Queries for various files that do the same thing for the element

@media(max-width:$break-sm){
    .buisness-info{
        padding-top: 50px;
        padding-right:150px;
    }
    .social-media{
        width: 100%;
        a{
            background-size: 25%;
            padding:30px 75px;
            margin-right:5px;
            margin-top:10px;
        }
    }

    .footer-icons, 
    .footer-web-design, 
    // header, 
    .nav-bar {
        display:none;
    }
    // header .logo{
    //     margin-left:none;
    // }
}
// Medium
@media (min-width:$break-m){
    .buisness-info{
        display:flex;
        .ft{
            margin-right: 5%;
        }
    }

    .social-media{
        width: 25%;
        a{
            background-size: 25%;
            padding:20px 50px;
            margin-right:5px;
            margin-top:10px;
            
        }
    }
}

//Large

@media (min-width:$break-lg){ 
    // header .logo{
    //     margin-left:150px;
    // }

    .buisness-info{
        display:flex;
        justify-content: space-between;
       
    }
    .social-media{
        width: 20%;
        a{
            background-size: 25%;
            padding:20px 50px;
            margin-right:5px;
            margin-top:10px;
            
        }
    }
}