@mixin display {
    display:flex;
    justify-content: space-between;
}

@mixin text-display{
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
}

// This Mixin makes sure that all service cards
//have the same padding and font 
@mixin card-display{
    
    border: 1px lighten($nm-tertiary,40%) solid;
    border-radius: 2%;
    // height:auto;
    padding: 25px 20px 15px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;

    .c-title{
        text-transform: capitalize;
        padding-bottom:10px;
        position:relative;
        margin-bottom: 20px;

        &::after{
            content: '';
            display:block;
            position: absolute;
            width: 35px;
            border:$nm-secondary solid 1px;
            top: 100%;
            left: 45%;
        }
    }
   
}