.social{
    padding:5px 10px;
    border-radius: 50%;
    // background-color: darken($nm-secondary, 5%);
    margin-right: 5px;
    
    &.social-fb:hover {background-color: $facebook-hover;}
    &.social-tw:hover {background-color: $twitter-hover;}
    &.social-in:hover {background-color: $instagram-hover;}
    &.social-li:hover {background-color: $linkedin-hover;}

    i{
        font-size: 12px;
        // color: $nm-primary;
        // margin-bottom:20px;
        position: relative;
        top:-25%;
    }
    &:first-of-type{
        margin-left: auto;
    }
}