/* url variables*/
$facebook: 'fb' url("../img/Icons/social-media-icons/facebook-svgrepo-com.svg") $facebook-hover;
$twitter: 'tw' url("../img/Icons/social-media-icons/twitter-svgrepo-com.svg") $twitter-hover;
$linkedin: 'li' url("../img/Icons/social-media-icons/linkedin-svgrepo-com.svg") $linkedin-hover;

$social-media: $facebook, $twitter, $linkedin;

//cycles through each social media variable and sets the default colour and what colour
//they will be when hovered over.
@each $name, $social, $color in $social-media{
    .social-#{$name}{
        background:darken($nm-secondary, 7%) $social no-repeat center;
        background-size: 25%;
        padding:20px 50px;

        &:hover{
            background-color: $color;
        }
    }

}

